.contact_input input{
	 width: 100%;
    height: 65px;
    border-radius: 0;
    font-family: Montserrat-Bold;
    border: 1px solid #19170f;
    color: #19170f;
}
.contact_texta textarea::placeholder ,
.contact_input input::placeholder {
	color: #19170f;
}
.contact_texta textarea{
	width: 100%;
    border: 1px solid #19170f;
    padding: 10px;
    height: 130px;
    font-family: Montserrat-Bold;
    resize: none;
}
.contact_send button{
	background: #19170f;
    border: 1px solid #19170f;
    color: #fff;
    font-size: 18px;
    width: 100%;
    height: 65px;
    font-family: Montserrat-Bold;
}
.contac_bacg{
    background-image: url(../image/contact_back.svg);
    background-size: 653px;
    background-repeat: no-repeat;
    padding-top: 30px;
}
.contact_map{
    background: #f1f1f1;
    width: 90%;
    margin: 0 auto;
    height: 360px;
    border: 1px solid #19170f;
}
.contact_about{
	background: #f1f1f1;
    width: 86.5%;
    margin-left: 9.5%;
    padding: 50px;
    border: 1px solid #f1f1f1;
}
.contac_title{
	font-size: 35px;
    font-family: Montserrat-Bold;
}
.contact_name{
	   margin-top: 80px;
}
.contact_bold{
    font-family: Montserrat-Bold;
    margin-top: 20px;
}
.sosyal_list ul li{
    float: left;
    background: #19170f;
    border: 2px solid #4C4B48;
    margin-left: 10px;
    width: 44px;
    height: 44px;
    padding: 10px 13px;
    font-size: 18px;
}
.sosyal_list ul li a {
    color: #fc0;
}
.sosyal_list{
    height: 44px;
    float: right;
    margin-top: -25px;
}
.black{
    color: #446da1;
}
.blue_hr{
    border-top: 3px solid #446da1;
}

.contact{
    background-image: unset!important;
    background-color: #446da1;
}
.contact_border input, .contact_border textarea{
    background: #fff!important;
}
@media only screen and (max-width: 767px) {
    .contact{
        height: 100%!important;
    }
}
