.pricing .tablinks{
	height: 50px;
    background: #f2f2f2;
    margin-right: 40px;
    width: 145px;
    font-size: 15px;
    border: none;
}
.pricing .tablinks img{
    width: 20px;
    margin-right: 10px;
}
.pricing .tab button.active{
	background: #ffcc00;
    border: none;
    color: #fff;
    border-radius: 0;
}
.usd_back{
	background: #fffbed;
    padding: 6px 12px;
    font-family: Montserrat-Bold;
    float: right;
    border-radius: 4px;
}
.span_kg{
	font-size: 23px;
    font-family: Montserrat-Bold;
    color: #ffcc00;
}
.xet{
    border: 1px solid #ffcc00;
    margin-top: -10px;
}
.xet_usd{
	padding: 10px 12px;
    font-size: 12px;
}
.pricing_box {
  position: absolute;
  top: 50%;
  left: 89%;
  transform: translate(-50%, -50%);
}
.pricing_box select {
    font-size: 12px;
    padding: 8px 0px 8px 5px;
    height: 38px;
    width: 50px;
    border: 2px solid #19170f;
    border-left: 1px solid #ccc;
    color: #ccc;
    border-left: none;
    /* box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2); */
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pricing_box select option {
  padding: 30px;
}
.pricing_wi {
    width: 88%;
    padding: 10px 20px;
        background: #fff;
}
.text_bold{
    font-size: 11px;
    color: #19170f;
    padding: 11px 0;
    font-family: Montserrat-Bold;
}
.pricing_box_cou select{
    height: 38px;
    border: 2px solid #19170f;
    border-radius: 4px;
    padding: 0 10px;
    color: #ccc;
    width: 100%;
}
.pricing_imput{
    border: 2px solid #19170f;
}
.bacg_img{
    background-image: url("../image/airplane.png");
    background-size: 110%;
}
.pricing_price_fff{
     background: #19170f;
    width: 210px;
    float: right;
    margin-top: -33px;
    font-size: 19px;
    color: #fff;
    text-align: center;
    padding: 7px 10px;
    height : 70px
}
.pricing_price_yellow{
    margin-top:-25px
}
.pricing_price_yellow button{
    background: #ffcc00;
    border-radius: 0px;
    border: 1px solid #ffcc00;
    outline: none;
    font-size: 13px;
    color: #fff;
    height: 33px;
    width: 100px;
}
.image_top_text {
    font-size: 66.667px;
    font-family: 'Calibri';
    color: rgb(255, 255, 255);
    line-height: 1;
    text-align: left;
    position: absolute;
    position: absolute;
    margin-left: 12%;
    z-index: 5555;
    color: #fff;
    margin-top: -33%;
}

.product_type{
    background-image: url('/front/image/customer_country_back.png');
    margin-top: -130px;
    height: 100%;
}
.type_row{
    margin-top: -4%;
}
.product_type_back{
    background-image: url("/front/image/customer_countries.png");
    margin-left: 20px;
    background-size: 100%;
    font-size: 37.5px;
    font-family: 'Calibri';
    color: rgb(88, 88, 88);
    background-repeat: no-repeat;
    background-size: 250px 50px;
}
button{
    border: none!important;
}

.bottom_table{
background-image: url('/../front/image/pricing_table_b.png');
    background-repeat: no-repeat;
    margin-top: -20px;
    background-size: 100%;
    margin-left: 8.2%;

}
.pricing_table_b.png{
    background-color: unset!important;
}
.pricing th[scope="col"]{
    background-color: unset;
}
.first_row{
    background: linear-gradient(
        50deg
        ,#446ca0,#353958)!important;
}
.first_row th{
    border: unset;
}

th img{
    width: 40px;
}
.back_image{
    position: absolute;
    margin-left: 16%;
    margin-top: 10%;
    z-index: -1;
}
@media only screen and (max-width: 1200px) {
    .back_image {
        display: none;
    }
    .bottom_table{
        margin-left: unset;
    }
}
