@font-face {
    font-family: 'MontserratAlternates-ExtraBoldItalic';
    src: url('../fonts/MontserratAlternates-ExtraBoldItalic.eot');
    src: url('../fonts/MontserratAlternates-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MontserratAlternates-ExtraBoldItalic.svg') format('svg'),
    url('../fonts/MontserratAlternates-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/MontserratAlternates-ExtraBoldItalic.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'MontserratAlternates-MediumItalic';
    src: url('../fonts/MontserratAlternates-MediumItalic.eot');
    src: url('../fonts/MontserratAlternates-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MontserratAlternates-MediumItalic.svg') format('svg'),
    url('../fonts/MontserratAlternates-MediumItalic.woff') format('woff'),
    url('../fonts/MontserratAlternates-MediumItalic.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.eot');
    src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Light.woff') format('woff'),
    url('../fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
}
@font-face {font-family: 'AvantGardeGothicC';
    src: url('//db.onlinewebfonts.com/t/0617ff865cddb0d3ccbe0441575937e2.eot');
    src: url('//db.onlinewebfonts.com/t/0617ff865cddb0d3ccbe0441575937e2.eot?#iefix') format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/0617ff865cddb0d3ccbe0441575937e2.woff2') format('woff2'),
    url('//db.onlinewebfonts.com/t/0617ff865cddb0d3ccbe0441575937e2.woff') format('woff'),
    url('//db.onlinewebfonts.com/t/0617ff865cddb0d3ccbe0441575937e2.ttf') format('truetype'),
    url('//db.onlinewebfonts.com/t/0617ff865cddb0d3ccbe0441575937e2.svg#AvantGardeGothicC') format('svg'); }

@font-face {
    font-family: 'Calibri';
    font-style: normal;
    /*font-weight: 700;*/
    src: url('../fonts/calibri.woff2') format('woff2');
    src: url('../fonts/calibri2.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body,html{
    overflow-x: hidden;
    transition: 500ms;
    scroll-behavior: smooth;
    min-height: 700px;
    font-weight: bold;
    font-family: Montserrat-Light;
    color: #19170f !important
}
a {
    font-family: 'AvantGardeGothicC';
    color: rgb(63, 63, 63);
}
a:hover, a:focus {
    color: #daf3eff0;
    text-decoration: underline;
}
.float-left{
    float: left !important;
}
.float-right{
    float: right !important;
}
.w-25 {
    width: 25%!important
}
.w-50 {
    width: 50%!important
}
.w-75 {
    width: 75%!important
}
.w-100 {
    width: 100%!important
}
.w-auto {
    width: auto!important
}
.h-25 {
    height: 25%!important
}
.h-50 {
    height: 50%!important
}
.h-75 {
    height: 75%!important
}
.h-100 {
    height: 100%!important
}
.h-auto {
    height: auto!important
}
.mw-100 {
    max-width: 100%!important
}
.mh-100 {
    max-height: 100%!important
}
.m-0 {
    margin: 0!important
}
.mt-0,
.my-0 {
    margin-top: 0!important
}
.mr-0,
.mx-0 {
    margin-right: 0!important
}
.mb-0,
.my-0 {
    margin-bottom: 0!important
}
.ml-0,
.mx-0 {
    margin-left: 0!important
}
.m-1 {
    margin: .25rem!important
}
.mt-1,
.my-1 {
    margin-top: .25rem!important
}
.mr-1,
.mx-1 {
    margin-right: .25rem!important
}
.mb-1,
.my-1 {
    margin-bottom: .25rem!important
}
.ml-1,
.mx-1 {
    margin-left: .25rem!important
}
.m-2 {
    margin: .5rem!important
}
.mt-2,
.my-2 {
    margin-top: .5rem!important
}
.mr-2,
.mx-2 {
    margin-right: .5rem!important
}
.mb-2,
.my-2 {
    margin-bottom: .5rem!important
}
.ml-2,
.mx-2 {
    margin-left: .5rem!important
}
.m-3 {
    margin: 1rem!important
}
.mt-3,
.my-3 {
    margin-top: 1rem!important
}
.mr-3,
.mx-3 {
    margin-right: 1rem!important
}
.mb-3,
.my-3 {
    margin-bottom: 1rem!important
}
.ml-3,
.mx-3 {
    margin-left: 1rem!important
}
.m-4 {
    margin: 1.5rem!important
}
.mt-4,
.my-4 {
    margin-top: 1.5rem!important
}
.mr-4,
.mx-4 {
    margin-right: 1.5rem!important
}
.mb-4,
.my-4 {
    margin-bottom: 1.5rem!important
}
.ml-4,
.mx-4 {
    margin-left: 1.5rem!important
}
.m-5 {
    margin: 3rem!important
}
.mt-5,
.my-5 {
    margin-top: 3rem!important
}
.mr-5,
.mx-5 {
    margin-right: 3rem!important
}
.mb-5,
.my-5 {
    margin-bottom: 3rem!important
}
.ml-5,
.mx-5 {
    margin-left: 3rem!important
}
.p-0 {
    padding: 0!important
}
.pt-0,
.py-0 {
    padding-top: 0!important
}
.pr-0,
.px-0 {
    padding-right: 0!important
}
.pb-0,
.py-0 {
    padding-bottom: 0!important
}
.pl-0,
.px-0 {
    padding-left: 0!important
}
.p-1 {
    padding: .25rem!important
}
.pt-1,
.py-1 {
    padding-top: .25rem!important
}
.pr-1,
.px-1 {
    padding-right: .25rem!important
}
.pb-1,
.py-1 {
    padding-bottom: .25rem!important
}
.pl-1,
.px-1 {
    padding-left: .25rem!important
}
.p-2 {
    padding: .5rem!important
}
.pt-2,
.py-2 {
    padding-top: .5rem!important
}
.pr-2,
.px-2 {
    padding-right: .5rem!important
}
.pb-2,
.py-2 {
    padding-bottom: .5rem!important
}
.pl-2,
.px-2 {
    padding-left: .5rem!important
}
.p-3 {
    padding: 1rem!important
}
.pt-3,
.py-3 {
    padding-top: 1rem!important
}
.pr-3,
.px-3 {
    padding-right: 1rem!important
}
.pb-3,
.py-3 {
    padding-bottom: 1rem!important
}
.pl-3,
.px-3 {
    padding-left: 1rem!important
}
.p-4 {
    padding: 1.5rem!important
}
.pt-4,
.py-4 {
    padding-top: 1.5rem!important
}
.pr-4,
.px-4 {
    padding-right: 1.5rem!important
}
.pb-4,
.py-4 {
    padding-bottom: 1.5rem!important
}
.pl-4,
.px-4 {
    padding-left: 1.5rem!important
}
.p-5 {
    padding: 3rem!important
}
.pt-5,
.py-5 {
    padding-top: 3rem!important
}
.pr-5,
.px-5 {
    padding-right: 3rem!important
}
.pb-5,
.py-5 {
    padding-bottom: 3rem!important
}
.pl-5,
.px-5 {
    padding-left: 3rem!important
}
ul, ol{
    padding: 0
}
ul li{
    list-style: none;
}
.m-auto {
    margin: auto!important
}
.mt-auto,
.my-auto {
    margin-top: auto!important
}
.mr-auto,
.mx-auto {
    margin-right: auto!important
}
.mb-auto,
.my-auto {
    margin-bottom: auto!important
}
.ml-auto,
.mx-auto {
    margin-left: auto!important
}
.text-left {
    text-align: left!important
}
.text-right {
    text-align: right!important
}
.text-center {
    text-align: center!important
}
.dropdown_td .btn:active{
    box-shadow: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus,
.dropdown_td .dropdown_div input:focus,
.dropdown_td .btn:focus{
    outline: unset !important;
}
.arrow-right{
    padding-left: 5px;
}
.dropdown_td .btn:active{
    box-shadow: none;
}
.dropdown_td .dropdown_div input:focus,
.dropdown_td .btn:focus{
    outline: unset !important;
}
.dropdown{
    color: #888
}
input, select{
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    color: #19170f
}
button{
    color: #19170f;
    background: transparent;
    border: 1px solid #ccc;
    height: 38px;
    outline: none;
}

.fa, .fas, .far, .fal, .fad, .fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.fab, .far, .fas {
    margin-right: 0px;
}
.far {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}
.fa, .fas, .far, .fal, .fad, .fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
a:hover{
    text-decoration: none;
}
textarea:focus, input:focus{
    outline: none;
}
textarea{
    padding: 10px;
    resize: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 100px;
}
.title{
    background-color:#fff;
    padding-bottom: 15px;
    font-size: 23px;
    font-family: "AvantGardeGothicC";
    color: rgb(63, 63, 63);
    line-height: 1.091;
}
.rate_calculator .title_list{
    color: #12c3d2;
    font-size: 14px;
    font-weight: bold;
}
.title_list{
    color: #fff;
    font-size: 16px;
    font-family: Montserrat-Bold;
}
.menu_list a{
    font-family: "AvantGardeGothicC";
    color: rgb(63, 63, 63);
}
.font_grey{
    color: #ccc;
    line-height: 1.8;
    font-size: 21px;
    font-family: 'AvantGardeGothicC';
    color: rgb(63, 63, 63);
    line-height: 1.2;
}


.font_b8{
    color: #b8b8b8;
    font-size: 12px;
    line-height: 1.8;
}
.font_black{
    color: #19170f;
    font-size: 12px;
    line-height: 1.8;
}
.menu_first{
    float: right;
}
.menu_first ul li{
    float: left;
    border: 1px solid #ffffff;
    margin: 0 5px;
    width: 32px;
    padding-top: 4px;
    height: 32px;
    text-align: center;
    border-radius: 100%;
}
.menu_first ul li a{
    font-family: 'AvantGardeGothicC';
    color: rgb(63, 63, 63);
    padding: 7px 7px;
    border-radius: 100%;
}
.logo{
    float: left;
}
.logo img{
    width: 220px;
    margin-top: 5px;
}
.menu_sec{
    float: right;
}
.menu_sec ul li{
    float: left;
    margin-left: 40px;
}
.menu_sec ul li a{
    font-family: 'AvantGardeGothicC';
    color: rgb(63, 63, 63);
    font-weight: 700;
}
.menu_sec ul li .active{
    border-bottom: 1px solid #fff;
}
.menu_sec ul li a:hover,.dropdown_dr .active, .yellow{
    color: #12c3d2;
}
.menu_sec .dropdown .btn{
    margin-top: -10px;
    /*background: #ffffff;*/
    color: #12c3d2;
    font-weight: bold;
}
.menu_sec .dropdown a{
    font-size: 12px;
    padding-left: 10px;
    color: rgb(63, 63, 63);
}
.menu_sec #dropdown_panel {
    font-family: "AvantGardeGothicC";
    color: rgb(63, 63, 63);
}
.footer_sky {
    position: relative;
    /*background: linear-gradient(50deg,#2AF598,#12c3d2);*/
    overflow: hidden;
    height: 100%;
}
.footer_sky:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    /*background-image: url(../image/sky.png);*/
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
.black{
    color: #12c3d2;
    font-family: Montserrat-Bold;
    font-size: 16px;
}
.blue_hr{
    width: 70px;
    margin-left: 0;
    border-top: 3px solid #2af598;
}
.color_fff{
    color: #fff;
    font-family: Montserrat-Bold;
}
.color_blue{
    color: #12c3d2;
    font-family: Montserrat-Bold;
}
.rate_calculator input:focus,
.rate_calculator .btn:focus, .dropdown_dr .dropdown .btn:focus,
select:focus, input:focus, textarea:focus{
    border-color: #2AF598 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.footer .menu ul li{
    float: left;
    border-radius: 5px;
    /*background: #fff;*/
    margin-right: 10px;
    width: 40px;
    height: 40px;
    padding-top: 11px;
    font-size: 14px;
}
.footer .menu ul li a{
    color: #12c3d2
}
.footer .menu ul li a i{
    margin-right: 0
}
.daily_unit, .rate_calculator, .border_sh{
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), -6px 1px 23px rgb(204 204 207);
    border-radius: 4px;
    padding: 25px;
}
.daily_unit ul li{
    margin-bottom: 7px;
    border-bottom: 1px solid #ffe580;
    padding-bottom: 7px;
}
.daily_unit ul li img{
    margin-right: 15px;
}
.daily_unit ul span:last-child{
    float: right;
}
.rate_calculator input{
    width: 100px;
}
.rate_calculator .dropdown-menu{
    min-width: 80px;
    padding: 10px;
}
.rate_calculator .btn{
    color: #19170f;
    background: transparent;
    border: 1px solid #ccc;
    height: 38px;
    width: 80px;
    font-size: 13px;
}bc  vnh
 .rate_calculator .active,
 .rate_calculator a:hover{
     color: #2AF598;
 }
.left-side{
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), -6px 1px 23px rgb(204 204 207);
    border-radius: 4px;
    padding-top: 25px;
    padding-bottom: 25px
}
label{
    font-weight: unset;
}
.courier_input ::placeholder {
    color: #ccc;
}
.courier_dr .fa-chevron-down {
    float: right;
    margin-top: 7px
}
.courier_input, .courier_dr .dropdown, .profil_text select{
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0px 1px 6px rgb(204 204 207);
    padding: 9px;
    border-radius: 4px
}
.courier_dropdown .btn:focus,
.courier_input:focus {
    border-color: #2AF598;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(221 252 219);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(221 252 219);
}
.h-100p{
    height: 100px
}
.button-part button{
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #12c3d2;
    background: #12c3d2;
    color: #fff;
    display: inline-block;
    width: 170px;
    padding: 9px 4px;
    font-size: 16px;
    text-align: center;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
.courier_dropdown .dropdown-menu{
    width: 100%;
    padding: 15px;
}
.courier_dropdown .dropdown-item{
    border-bottom: 1px solid #2AF598;
}
.courier_dropdown .btn{
    width: 100%;
    text-align: left;
    background: #fff;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0px 1px 6px rgb(204 204 207);
    padding: 9px;
    color: #757575;
    border-radius: 4px
}
.courier_down{
    float: right;
    margin-top: 7px;
}
.courier_dr .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.courier_dr .container:hover input ~ .courier_dr .checkmark {
    background-color: #ccc;
}
.courier_dr .container input:checked ~ .courier_dr .checkmark {
    background-color: #2AF598;
}
.courier_dr .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.courier_dr .container input:checked ~ .courier_dr .checkmark:after {
    display: block;
}
.courier_dr .container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.courier_dr .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.courier_dr .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.courier_dr .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}
.courier_dr .container:hover input ~ .courier_dr .checkmark {
    background-color: #ccc;
}
.courier_dr .container input:checked ~ .courier_dr .checkmark {
    background-color: #2AF598;
}
.courier_dr .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.courier_dr .container input:checked ~ .courier_dr .checkmark:after {
    display: block;
}
.courier_dr .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.relative {
    position: relative;
}
.balance {
    color: rgb(255, 255, 255);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 10px 0px;
}
.balance .balance-count {
    font-size: 18px;
    font-family: Montserrat-Bold;
    position: absolute;
    top: 30px;
    left: 30px;
}
.balance .balance-count .count {
    font-size: 45px;
    font-family: Montserrat-Bold;
}
sup {
    top: -0.5em;
}
.balance .balance-date {
    position: absolute;
    top: 35px;
    right: 35px;
}
.balance .balance-text {
    position: absolute;
    font-size: 13px;
    left: 30px;
    width: 222px;
    bottom: 6px;
    line-height: 1.7;
}
.balance .btn-effect {
    position: absolute;
    width: 119px;
    color: rgb(255, 255, 255);
    bottom: 30px;
    right: 35px;
    border-color: rgb(255, 255, 255);
}
.btn-effect {
    display: inline-block;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    padding: 9px 4px;
    transition: all 0.2s ease-in-out 0s;
}
.right-side .right-top.block {
    text-align: center;
    position: relative;
    padding: 20px 15px 10px 30px;
}
.tooltip .select-all{
    font-size: 16px
}
.tooltip {
    position: relative;
    display: inline-block;
    color: #ccc;
    opacity: 1 !important;
    float: right;
    cursor: pointer;
}
.tooltip .tooltiptext {
    visibility: hidden;
    border: 1px solid rgba(0,0,0,.15);
    width: 330px;
    background-color: #fff;
    color: #19170f;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    font-size: 12px;
    z-index: 1;
    bottom: 125%;
    left: 0;
    margin-left: -210px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 66%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #e1e1e2 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.relative.spin-div {
    margin-bottom: 12px;
}
.spin-div{
    margin-top: -70px;
    z-index: 15;
}
#answer1 canvas {
    display: inline-block;
    vertical-align: baseline;
}
span#procent {
    position: relative;
    left: 42%;
    top: 50%;
    font-size: 14px;
    color: #19170f;
    font-family: Montserrat-Bold;
}
span#procent::after {
    content: '%';
}
.procent_dolar{
    margin-top: 70px;
}
.timer {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.timer .rotate {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 10;
}
.timer .rotate #loader {
    fill: #ffffc6;
}
.timer .dots {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
}
.timer .dots .time {
    height: 100%;
    width: 3%;
    display: block;
    background-image: linear-gradient(#2AF598, #2AF598 16%, rgba(0, 0, 0, 0) 16%, rgba(0, 0, 0, 0) 84%, #ffcd07 84%, #2AF598);
    margin-left: -3%;
    left: 50%;
    position: absolute;
}
.timer .dots .time.deg45 {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.timer .dots .time.deg90 {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.timer .dots .time.deg135 {
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.dropdown_dr .dropdown .btn{
    text-align: left;
    border: 1px solid #ccc
}
.dropdown_dr .dropdown .dropdown-item{
    text-align: left;
    border: none;
    padding: 5px;
    border-bottom: 1px solid #2AF598;
}
.dropdown_dr .dropdown-menu .dropdown {
    border: 1px solid transparent;
    height: 38px;
    text-align: left;
    border-bottom: 1px solid #2AF598;
}
.dropdown_dr .dropdown-menu{
    padding: 5px
}
#scrol_price {
    margin-top: 10px;
    height: 350px;
    overflow: auto;
}
::-webkit-scrollbar-thumb {
    background: red;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.red{
    color: #dc3544;
}
.green{
    color: #28a746
}
.tab {
    overflow: hidden;
    background: #fff;
    margin-bottom: -1px;
}
.tab button {
    background-color: inherit;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    color: #19170f;
    border-bottom: 1px solid #ccc;
    padding: 8px 10px;
    transition: 0.3s;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.tab button:hover {
}
.tab button.active {
    border-top: 2px solid #12c3d2;
    border-bottom: 1px solid transparent;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.tabcontent {
    display: none;
}
.border_bar{
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    padding: 25px;
    -webkit-box-shadow: 0px 15px 30px -6px rgba(117,116,117,1);
    -moz-box-shadow: 0px 15px 17px -6px rgba(117,116,117,1);
    box-shadow: 0px 16px 30px -12px rgb(193 193 193);
}
.name_button{
    background: rgb(128, 128, 128);
    color: #fff;
    padding: 2px 4px;
    border: none;
    font-size: 12px;
    border-radius: 4px;
}
.tabcontent ul li{
    float: left;
    width: unset;
}
.logo_mob{
    display: none;
}
.mob_p-4{
    padding: 1.5rem
}
.left-side ul li {
    float: unset;
}
.left-side ul li{
    border-left: 5px solid transparent;
}
.left-side ul li>a:hover{
    color: #2AF598;
    transition: .5s ease-in-out;
}
.left-side ul li>a {
    color: #19170f;
    border-radius: 0;
    border: 1px solid transparent;
    padding: 7px 15px;
    display: block;
}
.active_li{
    border-left: 5px solid #12c3d2 !important;
}
.active_li a{
    color: #12c3d2 !important
}
.filterDiv {
    float: left;
    border-bottom: 1px solid #2AF598;
    padding: 8px;
    width: 99%;
    text-align: center;
    display: none;
}
.filterDiv_ul {
    float: left;
    border-bottom: 1px solid #2AF598;
    width: 99%;
    text-align: center;
}
.filterDiv:hover{
    background: #18cec505
}
.filterDiv ul li{
    float: left;
    width: 33.3%;
}
.filterDiv_ul ul li{
    background: #12c3d2;
    text-align: center;
    width: 33.3%;
    float: left;
    border-bottom: 1px solid #12c3d2;
    padding: 8px;
    font-family: Montserrat-Bold
}
.filterDiv ul .order_edit,
.filterDiv_ul ul .order_edit {
    width: 23%
}
.filterDiv ul .order_li,
.filterDiv_ul ul .order_li {
    width: 15.38%
}
.praduct ul .link_url{
    width: 30%;
    text-align: left !important;
    display: list-item;
    text-align: -webkit-match-parent;
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
}
.praduct_list_ul{
    background: #ddfcdb;
    height: 40px;
    padding: 10px;
}
.praduct_list_ul-in{
    border-bottom: 1px solid #2AF598;
    height: 45px;
    padding: 10px 0;
}
.modal-footer {
    padding: 5px 15px !important;
}
.praduct .modal-dialog{
    width: 80%
}
.praduct ul li{
    width: 11.6%
}
.h4_height{
    height: 20px;
}
.courier input{
    height: unset;
}
.tab button img{
    margin-right: 10px
}
.tab button.active .fas{
    color: #12c3d2;
}
.tab button .fas{
    padding-right: 10px
}
.active_span{
    color: #2AF598
}
.brit_moon{
    padding: 0 !important
}
.brit_year{
    padding-right: 0 !important
}
.brit_day{
    padding-left: 0 !important
}
.courier_dr .fa-chevron-down{
    font-size: 11px
}
input:read-only {
    background-color: #18cec505;
}
.million{
    background: #18cec533;
    width: 250px;
    padding: 3px;
    border: 1px solid #2AF598;
    border-radius: 4px;
    height: 42px;
    margin-bottom: 15px
}
.million_num{
    float: left;
    background: white;
    padding: 7px 10px;
    margin-right: 10px;
}
.million_nn{
    padding: 7px 10px;
}
.payment_button{
    border-radius: 4px;
    border: 3px solid #2AF598;
    font-family: Montserrat-Bold;
    color: #19170f;
    float: right;
}
.payment{
    margin: 40px 0;
}
.visa-logo img{
    width: 100px;
    float: right;
}
.visa-logo{
    margin: 20px 0
}
.payment input{
    width: 35%;
    margin-bottom: 10px
}
.balance_azn, .balance_azn img{
    height: 246px ;
}
.order_button{
    /*background: #ddfcdb;*/
    border: 2px solid #2AF598;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-left: 10px;
    height: 45px;
    color: #19170f;
    font-family: 'Montserrat-Bold';
}
.invoice_button{
    background: #12c3d2;
    border: 2px solid #ddfcdb;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 4px;
    height: 45px;
    color: #19170f;
    font-family: 'Montserrat-Bold';
}
.invoice_button:hover{
    color: #19170f;
}
.courier_textare{
    width: 100%;
    padding: 10px;
    height: 130px;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.15);
    margin-top: 25px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0px 1px 6px rgb(204 204 207);
}
.courier_file{
    border: 1px solid rgba(0,0,0,.15);
    margin-top: 25px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0px 1px 6px rgb(204 204 207);
    outline: none !important;
    height: 45px
}
.courier_button{
    background: #12c3d2;
    border: 2px solid #12c3d2;
    padding: 5px;
    height: 45px;
    width: 140px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 25px;
    color: #fff;
    font-family: 'Montserrat-Bold';
}
.courier_trash{
    background: #ddfcdb;
    border: 2px solid #2AF598;
    padding: 5px;
    height: 45px;
    width: 140px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 25px;
    color: #19170f;
    font-family: 'Montserrat-Bold';
}
.danger input{
    float: left;
    width: 7%;
}
.danger label{
    float: right;
    width: 90%;
    margin-top: 12px;
}
.description {
    color: #aaa;
    font-size: 11px;
    font-weight: 400;
}
.exp{
    font-weight: 700
}





@media only screen and (min-width: 768px){
    .panel-page .balance-block .balance,.panel-page .balance-block .balance img {
        height: 100%;
    }
    .relative .right-side {
        float: right;
    }
}

@media only screen and (min-width: 991px){
    .balance-block {
        position: absolute;
        height: 100%;
        left: 0px;
    }
}
.contact_i i{
    width: 35px
}
.contact {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.8;
    position: relative;
    overflow: hidden;
    height: 420px;
    padding-top: 30px;
    background-image: url(../image/Screenshot_54.png);
    margin-bottom: 50px;
    margin-top: 25px;
}
.contact_border button{
    padding: 0 25px;
    border-radius: 4px;
    background: #12c3d2;
    border: 1px solid #12c3d2;
    color: white;
}
.contact_border{
    height: 370px;
    padding: 15px 20px 0 20px;
    border-radius: 16px;
    border: 1px solid #ccc;
    border: 1px solid rgb(30 118 83 / 75%);
    -webkit-box-shadow: inset 0px 0px 0px rgba(0,0,0,.075), 1px 0px 11px rgb(34 174 123);
}
.contact select, .contact input, .contact textarea{
    background: transparent;
    border: 1px solid #fff;
    color: #fff
}
b, strong{
    font-family: Montserrat-Bold
}
a:hover{
    text-decoration: none;
}
.index_cont .border_c{
    text-align: center;
    margin: 40px 0;
}
.index_cont .border_c img{
    width: 70px;
    margin-bottom: 15px;
}
.index_cont .border_c h4{
    margin: 20px 0 15px;
}
.index_cont .border_c .dropdown{
    border: 1px solid rgba(0,0,0,.15);
    padding: 9px;
    border-radius: 4px;
    text-align: left;
}
.index_cont .border_c .dropdown .fas{
    float: right;
    color: #19170f;
    margin-top: 5px
}
.map{
    background: url(../image/index_map.svg);
    height: 280px;
    border: 1px solid #ccc;
    margin-bottom: 50px
}
.m_right_20{
    margin-right: 20px
}
.m_left_20{
    margin-left: 20px
}
.air{
    width: 45%;
    padding-bottom: 30px;
}
.counter{
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.cou_date{
    font-family: Montserrat-Bold;
    background: linear-gradient(50deg,#12c3d2,#2AF598);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    text-shadow: none;
    font-size: 50px
}
.counter .cou_date .fas{
    font-size: 25px;
    margin-left: 15px;
}
.counter .counter_text{
    color: #000;
    font-size: 15px;
    font-weight: bold;
}
.mob_p-25{
    padding: 25px
}
.skills_text{
    font-size: 30px;
    font-weight: 700;
    width: 85%;
    float: right;
}
.font_40{
    font-size: 40px;
    margin-right: 10px;
}
.color_dark_blue{
    color: #151F59;
    font-family: Montserrat-Bold;
}
.skills p{
    line-height: 2
}
#more {
    display: none;
}
.skills_input button{
    font-family: 'Montserrat-Bold';
    border: 2px solid #2af598;
    font-size: 12px;
    border-radius: 100%;
    padding: 0px 0px;
    width: 36px;
    color: #2af598;
    height: 36px;
    margin-top: 30px;
}
#quote-carousel {
    padding: 10px;
    margin-top: 70px;
    border: 2px solid rgba(0,0,0,.15)
}
#quote-carousel .carousel-control {
    color: #19170f;
    border: 1px solid #ccc;
    font-size: 17px;
    background: #e5e3e3;
    text-shadow: none;
    margin-bottom: 30px;
}
#quote-carousel .carousel-control.left {
    left: 80px;
}
#quote-carousel .carousel-control.right {
    right: 80px;
}
#quote-carousel .carousel-control {
    color: #19170f;
    border: 1px solid #ccc;
    font-size: 17px;
    background: #e5e3e3;
    text-shadow: none;
    margin-bottom: 30px;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control {
    position: absolute;
    top: unset;
    padding: 2px;
    height: 30px;
    width: 30px;
    text-align: center;
    opacity: .5;
}
#quote-carousel .carousel-indicators {
    bottom: 0px;
    margin-bottom: 25px;
    height: 65px
}
#quote-carousel .carousel-indicators li {
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    width: 60px;
    height: 60px;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), -6px 1px 17px rgb(204 204 207);
    border-radius: 100%;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 320px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
blockquote{
    font-size: 14px
}
.yellow_border{
    border-top: 3px solid #ffcc00;
    width: 50px;
    margin: 10px auto
}
.carousel_text{
    color: #19170f;
    line-height: 1.7;
    font-weight: 700;
}
.quote{
    padding-top: 135px;
    margin-top: 70px;
    background-image: url(../image/quote-left-solid.svg);
    background-repeat: no-repeat;
    background-size: 290px;
    background-position: 0% 0%;
}
.quote_border{
    width: 160px;
    border-top: 10px solid #ffcc00;
    margin: 30px 0;
}
.quote-title{
    font-size: 36px
}
.quote_italy{
    font-size: 15px;
    line-height: 1.9;
    font-family: MontserratAlternates-MediumItalic
}
.partner .owl-theme .owl-dots .owl-dot span{
    /*display: none;*/
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #0ab3e4 !important;
}
.partner{
    /*margin-top: 50px;*/
}
.partner .owl-carousel .owl-item img{
    width: 140px;
    height: 90px;
    margin: 0 auto;
    object-fit: contain;
}
.index_contact{
    margin-top: -30px
}
.index_contact_order{
    background: #fff;
    color: #12c3d2;
    padding: 5px 20px;
    border-radius: 4px;
    font-size: 15px;
}
.cou_date_box{
    background: #F2FBFE;
    border-radius: 8px;
    padding: 20px 0;
    margin: 0 auto
}
.partner_text_img{
    margin: 0 auto;
    width: 100px;
    border-radius: 100%;
}
.partner_text_img img{
    border-radius: 100%;
}
.partner_text .owl-theme .owl-dots .owl-dot span {
    margin-top: 40px !important;
}
.partner_text .owl-item{
    background: #f2fbfe !important;
    padding: 30px 0px;
    border-radius: 8px;
}
.shops img{
    width: 180px ;
    margin: 0 auto;
    height: 120px;
    object-fit: contain;
}
.img_slider img{
    width: 75%;
    float: right;
}
.black_kargo{
    font-size: 45px;
    font-family: Montserrat-Bold;
}
.green_blue{
    font-family: Montserrat-Bold;
    background: linear-gradient(50deg,#12c3d2,#2AF598);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    text-shadow: none;
}
.italic{
    font-style: italic;
    font-weight: 600;
}
.contact_input input{
    width: 100%;
    height: 65px;
    border-radius: 0;
    font-family: Montserrat-Bold;
    border: 1px solid #19170f;
    color: #19170f;
}
.contact_texta textarea::placeholder ,
.contact_input input::placeholder {
    color: #19170f;
}
.contact_texta textarea{
    width: 100%;
    border: 1px solid #19170f;
    padding: 10px;
    height: 130px;
    font-family: Montserrat-Bold;
    resize: none;
}
.contact_send button{
    background: #19170f;
    border: 1px solid #19170f;
    color: #fff;
    font-size: 18px;
    width: 100%;
    height: 65px;
    font-family: Montserrat-Bold;
}
.contac_bacg{
    background-image: url(../image/contact_back.svg);
    background-size: 653px;
    background-repeat: no-repeat;
    padding-top: 30px;
}
.contact_map{
    background: #f1f1f1;
    width: 100%;
    margin: 0 auto;
    height: 200px;
    border: 1px solid #19170f;
}
.contact_map iframe {
    height: 200px !important;
}
.contact_about{
    background: #f1f1f1;
    width: 86.5%;
    margin-left: 9.5%;
    padding: 50px;
    border: 1px solid #f1f1f1;
}
.contac_title{
    font-size: 35px;
    font-family: Montserrat-Bold;
}
.contact_name{
    margin-top: 80px;
}
.contact_bold{
    font-family: Montserrat-Bold;
    margin-top: 20px;
}
.sosyal_list ul li{
    float: left;
    background: #19170f;
    border: 2px solid #4C4B48;
    margin-left: 10px;
    width: 44px;
    height: 44px;
    padding: 10px 13px;
    font-size: 18px;
}
.sosyal_list ul li a {
    color: #fc0;
}
.sosyal_list{
    height: 44px;
    float: right;
    margin-top: -25px;
}
.shops img{
}
.shops {
    width: 160px;
    margin: 0 auto;
    height: 100px;
}
.how_work_page{
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), -6px 1px 23px rgb(204 204 207);
    padding: 35px;
    height: 300px;
    margin-top: 50px;
}
.pricing .tablinks{
    height: 40px;
    margin-right: 25px;
    width: 120px;
    font-size: 12px;
    font-family: Montserrat-Bold;
    border: none;
    color: #12c3d2;
    border: 1px solid #12c3d2;
    border-radius: 10px;
    text-align: center
}
.pricing .tablinks img{
    width: 20px;
    margin-right: 10px;
}
.pricing .tab button.active{
    background: #12c3d2;
    border: none;
    color: #fff;
    border-radius: 0;
    border-radius: 10px;
}
.pricing_box {
    position: absolute;
    top: 50%;
    left: 89%;
    transform: translate(-50%, -50%);
}
.pricing_box select {
    font-size: 12px;
    padding: 8px 0px 8px 5px;
    height: 38px;
    width: 50px;
    border: 2px solid #19170f;
    border-left: 1px solid #ccc;
    color: #ccc;
    border-left: none;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pricing_box select option {
    padding: 30px;
}
.pricing_wi {
    width: 88%;
    padding: 10px 20px;
    background: #fff;
}
.text_bold{
    font-size: 11px;
    color: #19170f;
    padding: 11px 0;
    font-family: Montserrat-Bold;
}
.pricing_box_cou select{
    height: 38px;
    border: 2px solid #19170f;
    border-radius: 4px;
    padding: 0 10px;
    color: #ccc;
    width: 100%;
}
.pricing_imput{
    border: 2px solid #19170f;
}
.bacg_img{
    /*background-image: url("../image/airplane.png");*/
    background-size: 110%;
}
.pricing_price_fff{
    background: linear-gradient(50deg,#2AF598,#12c3d2);
    width: 210px;
    float: right;
    /*margin-top: -33px;*/
    font-size: 19px;
    color: #fff;
    text-align: center;
    padding: 7px 10px;
    height : 70px
}
.pricing_price_yellow{
    margin-top:-25px
}
.pricing_price_yellow button{
    background: #12c3d2;
    border: 1px solid #12c3d2;
    outline: none;
    font-size: 13px;
    color: #fff;
    border-radius: 8px;
    height: 37px;
    width: 100px;
}
.pricing td,.pricing th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}
.pricing td {
    text-align: center;
}
.pricing th[scope="col"] {
    background-color: #12c3d2;
    color: #fff;
}
.pricing th[scope="row"] {
    background-color: #F2FBFE;
}
.pricing table {
    letter-spacing: 1px;
    width: 100%
}

.black{
    font-size: 60px;
    font-family: Montserrat-Bold;
}
.italic{
    font-style: italic;
    font-weight: 600;
}
.faq .accordion {
    color: #444;
    cursor: pointer;
    padding: 10px 15px;
    height: 45px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-family: Montserrat-Bold;
    transition: 0.4s;
}
.faq .active, .faq .accordion:hover {
    border: 1px solid #eee;
}
.faq .accordion:after {
    content: '\002B';
    font-family: 'Montserrat-Light';
    float: right;
    font-size: 28px;
    margin-left: 5px;
    margin-top: -5px;
    font-family: Montserrat-Bold;
    background: linear-gradient(50deg,#12c3d2,#2AF598);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    text-shadow: none;
}
.faq .active:after {
    content: "\002D";
}
.faq .panel_faq {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 0
}
.panel_faq0 {
    width: 100%;
    padding: 15px;
    color: #19170f;
    margin-top: 20px;
    margin-bottom: 20px !important;
    border: 1px solid #eee;
}
.img_slider_faq{
    width: 80%;
    float: right;
}
.faq{
    margin-top: 20px
}
.how_work_num{
    position: absolute;
    float: right;
    background: #fff7d8;
    width: 60px;
    right: -10px;
    border-radius: 100%;
    color: #ffcc00;
    height: 60px;
    font-family: Montserrat-Bold;
    font-size: 35px;
    text-align: center;
    padding: 5px;
    margin-top: -30px;
    border: 1px solid #ffcc00;
    -moz-box-shadow: 23px 11px 24px 1px rgba(255,204,0,1);
    box-shadow: 9px 7px 21px -7px rgba(255,204,0,1);
}
.slider_search .search{
    padding-bottom: 50px
}
.slider_search .search ::placeholder {
    color: #ccc;
}
.slider_search .search form input{
    border: 1px solid rgb(32 223 178 / 40%);
    -webkit-box-shadow: inset 0px 0px 0px rgba(0,0,0,.075), 1px 0px 11px rgb(31 221 179 / 40%);
    width: 380px;
    height: 50px;
    padding: 15px;
    border-radius: 16px
}
.slider_search .search input:focus, .rate_calculator input:focus, .rate_calculator .btn:focus, .dropdown_dr .dropdown .btn:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.slider_search .search button{
    height: 48px;
    margin-left: -34px;
    background: #12c3d2;
    color: #fff;
    border: 1px solid #12c3d2;
    width: 160px;
    border-radius: 16px;
}
.blog_a a .fas{
    font-size: 10px
}
.blog_a a{
    text-align: center;
    color: #2AF598;
    padding: 6px 0;
    font-family: Montserrat-Bold;
    font-size: 14px;
}
.blog_a a:focus{
    outline: 0;
}
.blog_img{
    height: 200px
}
.blog_img img{
    height: 200px;
    object-fit: cover;
    border-radius: 16px
}
.blog_img_he{
    height: 390px;
    position: relative;
}
.blog_img_he img{
    height: 390px;
    object-fit: cover;
    border-radius: 16px
}

.blog_img_he:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    /*background: linear-gradient(50deg,#2AF598,#12c3d2);*/
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    border-radius: 16px
}
.blog_list_img:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    background: linear-gradient(50deg,#2AF598,#12c3d2);
    top: 0;
    width: 100px;
    height: 70px;
    z-index: 1;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    border-radius: 8px
}
.blog_list_img{
    width: 100px;
    float: left;
    margin-right: 10px;
    height: 70px;
    position: relative;
}
.blog_list_img img{
    border-radius: 8px;
    height: 70px;
    object-fit: cover;

}
.padding_15{
    padding: 0 15px
}
.padding_25{
    padding: 0 25px
}
.number_list ul li a{
    border: 1px solid #2AF598;
    color: #2AF598;
    padding: 10px 15px;
    border-radius: 12px;
    margin: 0 10px;
}
.number_list ul li{
    float: left;
    height: 40px
}
.border_left{
    border-left: none !important;
}
.number_list .active{
    background: #12c3d2;
    color: #fff;
}
.number_list{
    width: 45%;
    margin: 0 auto
}
.blog_list{
    border-bottom: 1px solid #1cd9b8;
    padding: 10px 0
}
.blog_yellow{
    font-size: 40px;
    background: linear-gradient(50deg,#12c3d2,#2AF598);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    text-shadow: none;
}
.black_blog{
    font-size: 20px;
    font-weight: bold
}
.blog_sosyal ul li{
    background: linear-gradient(50deg,#2AF598,#12c3d2);
    margin: 0 auto;
    margin-bottom: 10px;
    width: 39px;
    height: 39px;
    padding: 10px 13px;
    font-size: 14px;
    float: left;
    margin-right: 15px;
    border-radius: 100%
}
.blog_sosyal ul li a {
    color: #19170f;
}
.blog_share{
    text-align: left;
    margin-bottom: 15px;
    padding-top: 15px;
    font-size: 16px;
    font-family: Montserrat-Bold
}
.blog_img:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    /*background: linear-gradient(50deg,#2AF598,#12c3d2);*/
    top: 0;
    width: 100%;
    /*height: 100%;*/
    z-index: 1;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    width: calc(100% - 30px);
    margin-left: 15px;
    border-radius: 16px
}
.city_title{
    margin-bottom: 25px;
    width: 120px;
    background: #2AF598;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}
.pricing_li{
    width: 33.33%;
    float:left;
}
.city_title img{
    width: 25px;
    margin-right: 10px;
}
.pricing_title{
    background-color: #12c3d2;
    color: #fff;
    border-left: 1px solid rgb(190, 190, 190);
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
}
.pricing_li_maye{
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 10px
}
.pricing_price{
    color: #000;
    float: right;
    font-size: 16px;
    padding: 14px;
    height: 40px;
    margin-top: -10px;
    font-weight: 700;
    border-left: 1px solid rgb(190, 190, 190);
}
.btn-header-1{
    margin-top: -4px;
    color: #040404;
    font-size: 11px;
    padding: 9px 24px;
    border: 1px solid #0bb3e6;
    border-radius: 11px;
    box-shadow: 0 0 5px 2px #e8e8e8;
    transition: all 0.2s;
}
.header_shopping{
    color: #fff;
    font-size: 12px;
    border: 1px solid #fff !important;
    font-size: 13px;
    padding: 7px 7px;
    border-radius: 27px;
    position: absolute;
    left: -7px;
    bottom: -9px;
}
.btn-header-1:hover {
    background-color: #2af598;
    color: white !important;
    border: 1px solid #2af598 !important;
    transition: all 0.2s;
}
.news{
    float:left;
    margin-right: 15px;
}
.blog_img:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    /*background: linear-gradient(50deg,#2AF598,#12c3d2);*/
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    width: calc(100% - 30px);
    margin-left: 15px;
    border-radius: 16px;
}

.video_mage:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    /*background: linear-gradient(50deg,#2AF598,#12c3d2);*/
    top: 0;
    width: 100%;
    /*height: 100%;*/
    z-index: 1;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    width: calc(100% - 30px);
    margin-left: 15px;
    border-radius: 8px
}
.video_mage{
    height: 250px;

}
.video_mage iframe{
    width: 100%;
    height: 250px;
    border-radius: 8px;
}
.left-side ul li a i{
    width: 30px;
}
.track .step.active:before {
    background: #12c3d2 !important;
}

.contact {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.8;
}

.footer .menu_list a{
    font-size: 25px;
    font-family: 'Myriad Pro'!important;
    color: rgb(255, 255, 255)!important;
    line-height: 1.333!important;
}
.footer_sky{
    border-bottom: 1px solid #9c9a9a;
    font-size: 25px;
    font-family: "AvantGardeGothicC";
}
