
@font-face {
    font-family: 'MontserratAlternates-ExtraBoldItalic';
    src: url('../fonts/MontserratAlternates-ExtraBoldItalic.eot');
    src: url('../fonts/MontserratAlternates-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MontserratAlternates-ExtraBoldItalic.svg') format('svg'),
    url('../fonts/MontserratAlternates-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/MontserratAlternates-ExtraBoldItalic.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'MontserratAlternates-MediumItalic';
    src: url('../fonts/MontserratAlternates-MediumItalic.eot');
    src: url('../fonts/MontserratAlternates-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MontserratAlternates-MediumItalic.svg') format('svg'),
    url('../fonts/MontserratAlternates-MediumItalic.woff') format('woff'),
    url('../fonts/MontserratAlternates-MediumItalic.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.eot');
    src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Light.woff') format('woff'),
    url('../fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
}
.width_30 img {
    width: 25px;
}

body, html {
    overflow-x: hidden;
    transition: 500ms;
    scroll-behavior: smooth;
    min-height: 700px;
    font-family: Montserrat-Light;
    color: #19170f !important
}
a {
    color: #19170f;
}
a:hover, a:focus {
    color: #c3c4d1;
    text-decoration: underline;
}
.float-left{
    float: left !important;
}
.float-right{
    float: right !important;
}
.w-25 {
    width: 25%!important
}
.w-50 {
    width: 50%!important
}
.w-75 {
    width: 75%!important
}
.w-100 {
    width: 100%!important
}
.w-auto {
    width: auto!important
}
.h-25 {
    height: 25%!important
}
.h-50 {
    height: 50%!important
}
.h-75 {
    height: 75%!important
}
.h-100 {
    height: 100%!important
}
.h-auto {
    height: auto!important
}
.mw-100 {
    max-width: 100%!important
}
.mh-100 {
    max-height: 100%!important
}
.m-0 {
    margin: 0!important
}
.mt-0,
.my-0 {
    margin-top: 0!important
}
.mr-0,
.mx-0 {
    margin-right: 0!important
}
.mb-0,
.my-0 {
    margin-bottom: 0!important
}
.ml-0,
.mx-0 {
    margin-left: 0!important
}
.m-1 {
    margin: .25rem!important
}
.mt-1,
.my-1 {
    margin-top: .25rem!important
}
.mr-1,
.mx-1 {
    margin-right: .25rem!important
}
.mb-1,
.my-1 {
    margin-bottom: .25rem!important
}
.ml-1,
.mx-1 {
    margin-left: .25rem!important
}
.m-2 {
    margin: .5rem!important
}
.mt-2,
.my-2 {
    margin-top: .5rem!important
}
.mr-2,
.mx-2 {
    margin-right: .5rem!important
}
.mb-2,
.my-2 {
    margin-bottom: .5rem!important
}
.ml-2,
.mx-2 {
    margin-left: .5rem!important
}
.m-3 {
    margin: 1rem!important
}
.mt-3,
.my-3 {
    margin-top: 1rem!important
}
.mr-3,
.mx-3 {
    margin-right: 1rem!important
}
.mb-3,
.my-3 {
    margin-bottom: 1rem!important
}
.ml-3,
.mx-3 {
    margin-left: 1rem!important
}
.m-4 {
    margin: 1.5rem!important
}
.mt-4,
.my-4 {
    margin-top: 1.5rem!important
}
.mr-4,
.mx-4 {
    margin-right: 1.5rem!important
}
.mb-4,
.my-4 {
    margin-bottom: 1.5rem!important
}
.ml-4,
.mx-4 {
    margin-left: 1.5rem!important
}
.m-5 {
    margin: 3rem!important
}
.mt-5,
.my-5 {
    margin-top: 3rem!important
}
.mr-5,
.mx-5 {
    margin-right: 3rem!important
}
.mb-5,
.my-5 {
    margin-bottom: 3rem!important
}
.ml-5,
.mx-5 {
    margin-left: 3rem!important
}
.p-0 {
    padding: 0!important
}
.pt-0,
.py-0 {
    padding-top: 0!important
}
.pr-0,
.px-0 {
    padding-right: 0!important
}
.pb-0,
.py-0 {
    padding-bottom: 0!important
}
.pl-0,
.px-0 {
    padding-left: 0!important
}
.p-1 {
    padding: .25rem!important
}
.pt-1,
.py-1 {
    padding-top: .25rem!important
}
.pr-1,
.px-1 {
    padding-right: .25rem!important
}
.pb-1,
.py-1 {
    padding-bottom: .25rem!important
}
.pl-1,
.px-1 {
    padding-left: .25rem!important
}
.p-2 {
    padding: .5rem!important
}
.pt-2,
.py-2 {
    padding-top: .5rem!important
}
.pr-2,
.px-2 {
    padding-right: .5rem!important
}
.pb-2,
.py-2 {
    padding-bottom: .5rem!important
}
.pl-2,
.px-2 {
    padding-left: .5rem!important
}
.p-3 {
    padding: 1rem!important
}
.pt-3,
.py-3 {
    padding-top: 1rem!important
}
.pr-3,
.px-3 {
    padding-right: 1rem!important
}
.pb-3,
.py-3 {
    padding-bottom: 1rem!important
}
.pl-3,
.px-3 {
    padding-left: 1rem!important
}
.p-4 {
    padding: 1.5rem!important
}
.pt-4,
.py-4 {
    padding-top: 1.5rem!important
}
.pr-4,
.px-4 {
    padding-right: 1.5rem!important
}
.pb-4,
.py-4 {
    padding-bottom: 1.5rem!important
}
.pl-4,
.px-4 {
    padding-left: 1.5rem!important
}
.p-5 {
    padding: 3rem!important
}
.pt-5,
.py-5 {
    padding-top: 3rem!important
}
.pr-5,
.px-5 {
    padding-right: 3rem!important
}
.pb-5,
.py-5 {
    padding-bottom: 3rem!important
}
.pl-5,
.px-5 {
    padding-left: 3rem!important
}
ul, ol{
    padding: 0
}
ul li{
    list-style: none;
}
.m-auto {
    margin: auto!important
}
.mt-auto,
.my-auto {
    margin-top: auto!important
}
.mr-auto,
.mx-auto {
    margin-right: auto!important
}
.mb-auto,
.my-auto {
    margin-bottom: auto!important
}
.ml-auto,
.mx-auto {
    margin-left: auto!important
}
.text-left {
    text-align: left!important
}
.text-right {
    text-align: right!important
}
.text-center {
    text-align: center!important
}
.dropdown_td .btn:active{
    box-shadow: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus,
.dropdown_td .dropdown_div input:focus,
.dropdown_td .btn:focus{
    outline: unset !important;
}
.arrow-right{
    padding-left: 5px;
}
.dropdown_td .btn:active{
    box-shadow: none;
}
.dropdown_td .dropdown_div input:focus,
.dropdown_td .btn:focus{
    outline: unset !important;
}
.dropdown{
    color: #888
}
input, select{
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    color: #19170f
}
button{
    color: #19170f;
    background: transparent;
    border: 1px solid #ccc;
    height: 38px;
    outline: none;
}

.fa, .fas, .far, .fal, .fad, .fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.fab, .far, .fas {
    margin-right: 7px;
}
.far {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}
.fa, .fas, .far, .fal, .fad, .fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
a:hover{
    text-decoration: none;
}
textarea:focus, input:focus{
    outline: none;
}
.title_list {
    color: #19170f;
    font-size: 16px;
    font-family: Montserrat-Bold;
}
.font_grey{
    color: #ccc;
    font-size: 12px;
    line-height: 1.8;
}
.font_b8{
    color: #b8b8b8;
    font-size: 12px;
    line-height: 1.8;
}
.font_black{
    color: #19170f;
    font-size: 12px;
    line-height: 1.8;
}
.menu_first{
    float: right;
}
.menu_first ul li{
    float: left;
    border: 1px solid #eeeeee;
    margin: 0 5px;
    width: 28px;
    height: 28px;
    padding: 3px 7px;
}
.menu_first ul li a{
    color: #ccc
}
.logo{
    float: left;
}
.logo img{
    width: 150px;
}
.menu_sec{
    float: right;
}
.menu_sec ul li {
    float: left;
    margin-left: 40px;
}
.menu_sec ul li a{
    color: #19170f;
    font-weight: 700
}
.menu_sec ul li .active{
    background: #fff;
}
.menu_sec ul li a:hover,.dropdown_dr .active, .yellow, .menu_sec ul li .active{
    color: #ffcc00;
}
.menu_sec .dropdown .btn{
    margin-top: -10px;
    background: #19170f;
    color: #fff;
}
.menu_sec .dropdown a{
    font-size: 12px;
    padding-left: 10px;
}

.footer {
    background: #f1f1f1;
    padding: 50px 0;
    margin-top: 70px !important
}
.footer .search{
    padding-bottom: 50px
}
.footer .search ::placeholder {
    color: #ccc;
}

.footer .search input {
    border: 1px solid rgba(0, 0, 0, .15);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), -6px 1px 23px rgb(204 204 207);
    width: 360px;
    height: 60px;
    padding: 15px;
}

.footer .search input:focus, .rate_calculator input:focus,
.rate_calculator .btn:focus, .dropdown_dr .dropdown .btn:focus,
select:focus, input:focus, textarea:focus {
    border-color: #ffcc00 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(255 229 128);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(255 229 128);
}

.footer .search button {
    height: 58px;
    margin-left: -4px;
    background: #19170f;
    color: #fff;
    border: 1px solid #19170f;
    width: 160px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.footer .menu ul li{
    float: left;
    background: #19170f;
    border: 2px solid #4C4B48;
    margin-right: 10px;
    width: 37px;
    height: 37px;
    padding: 5px 11px;
    font-size: 14px;
}
.footer .menu ul li a{
    color: #fc0
}
.footer .map{
    width: 100%;
    height: 130px;
    border: 1px solid #ccc
}
.menu_list ul li{
    margin: 20px 0;
    font-size: 13px;
}
.menu_list ul li a{
    color: #ccc;
}
.menu_list ul li a:hover{
    color: #19170f
}
.footer_yellow {
    background: #ffcc00;
    padding: 20px
}
.daily_unit, .rate_calculator, .border_sh{
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), -6px 1px 23px rgb(204 204 207);
    border-radius: 4px;
    padding: 25px;
}
.daily_unit ul li{
    margin-bottom: 7px;
    border-bottom: 1px solid #ffe580;
    padding-bottom: 7px;
}
.daily_unit ul li img {
    margin-right: 15px;
}
.daily_unit ul span:last-child{
    float: right;
}
.rate_calculator input{
    width: 100px;
}
.rate_calculator .dropdown-menu {
    min-width: 80px;
    padding: 10px;
}

.rate_calculator .btn {
    color: #19170f;
    background: transparent;
    border: 1px solid #ccc;
    height: 38px;
    width: 80px;
    font-size: 13px;
}

bc vnh
.rate_calculator .active,
.rate_calculator a:hover {
    color: #ffcc00;
}

.left-side {
    border: 1px solid rgba(0, 0, 0, .15);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), -6px 1px 23px rgb(204 204 207);
    border-radius: 4px;
    padding-top: 25px;
    padding-bottom: 25px
}
label {
    font-weight: unset;
}
.courier_input ::placeholder {
    color: #ccc;
}
.courier_dr .fa-chevron-down {
    float: right;
    margin-top: 7px
}
.courier_input, .courier_dr .dropdown, .profil_text select{
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0px 1px 6px rgb(204 204 207);
    padding: 9px;
    border-radius: 4px
}
.courier_dropdown .btn:focus,
.courier_input:focus {
    border-color: #ffcc00;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(255 229 128);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(255 229 128);
}
.h-100p{
    height: 100px
}
.button-part button{
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #ffcc00;
    background: #ffcc00;
    color: #fff;
    display: inline-block;
    width: 170px;
    padding: 9px 4px;
    font-size: 16px;
    text-align: center;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
.courier_dropdown .dropdown-menu{
    width: 100%;
    padding: 15px;
}
.courier_dropdown .dropdown-item{
    border-bottom: 1px solid #ffcc00;
}
.courier_dropdown .btn{
    width: 100%;
    text-align: left;
    background: #fff;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0px 1px 6px rgb(204 204 207);
    padding: 9px;
    color: #757575;
    border-radius: 4px
}
.courier_down {
    float: right;
    margin-top: 7px;
}
.courier_dr .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.courier_dr .container:hover input ~ .courier_dr .checkmark {
    background-color: #ccc;
}
.courier_dr .container input:checked ~ .courier_dr .checkmark {
    background-color: #ffcc00;
}
.courier_dr .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.courier_dr .container input:checked ~ .courier_dr .checkmark:after {
    display: block;
}
.courier_dr .container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.courier_dr .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.courier_dr .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.courier_dr .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}
.courier_dr .container:hover input ~ .courier_dr .checkmark {
    background-color: #ccc;
}
.courier_dr .container input:checked ~ .courier_dr .checkmark {
    background-color: #ffcc00;
}
.courier_dr .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.courier_dr .container input:checked ~ .courier_dr .checkmark:after {
    display: block;
}
.courier_dr .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.relative {
    position: relative;
}
.balance {
    color: rgb(255, 255, 255);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 10px 0px;
}
.balance .balance-count {
    font-size: 18px;
    font-family: Montserrat-Bold;
    position: absolute;
    top: 30px;
    left: 30px;
}
.balance .balance-count .count {
    font-size: 45px;
    font-family: Montserrat-Bold;
}
sup {
    top: -0.5em;
}
.balance .balance-date {
    position: absolute;
    top: 35px;
    right: 35px;
}
.balance .balance-text {
    position: absolute;
    bottom: 15px;
    font-size: 13px;
    left: 30px;
    width: 280px;
}
.balance .btn-effect {
    position: absolute;
    width: 119px;
    color: rgb(255, 255, 255);
    bottom: 30px;
    right: 35px;
    border-color: rgb(255, 255, 255);
}
.btn-effect {
    display: inline-block;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    padding: 9px 4px;
    transition: all 0.2s ease-in-out 0s;
}
.right-side .right-top.block {
    text-align: center;
    position: relative;
    padding: 20px 15px 10px 30px;
}
.tooltip .select-all{
    font-size: 16px
}
.tooltip {
    position: relative;
    display: inline-block;
    color: #ccc;
    opacity: 1 !important;
    float: right;
    cursor: pointer;
}
.tooltip .tooltiptext {
    visibility: hidden;
    border: 1px solid rgba(0,0,0,.15);
    width: 330px;
    background-color: #fff;
    color: #19170f;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    font-size: 12px;
    z-index: 1;
    bottom: 125%;
    left: 0;
    margin-left: -210px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 66%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #e1e1e2 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.relative.spin-div {
    margin-bottom: 12px;
}
.spin-div{
    margin-top: -70px;
    z-index: 15;
}
#answer1 canvas {
    display: inline-block;
    vertical-align: baseline;
}
span#procent {
    position: relative;
    left: 42%;
    top: 50%;
    font-size: 14px;
    color: #19170f;
    font-family: Montserrat-Bold;
}
span#procent::after {
    content: '%';
}
.procent_dolar{
    margin-top: 70px;
}
.timer {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.timer .rotate {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 10;
}
.timer .rotate #loader {
    fill: #ffffc6;
}
.timer .dots {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
}
.timer .dots .time {
    height: 100%;
    width: 3%;
    display: block;
    background-image: linear-gradient(#ffcc00, #ffcc00 16%, rgba(0, 0, 0, 0) 16%, rgba(0, 0, 0, 0) 84%, #ffcd07 84%, #ffcc00);
    margin-left: -3%;
    left: 50%;
    position: absolute;
}
.timer .dots .time.deg45 {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.timer .dots .time.deg90 {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.timer .dots .time.deg135 {
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.dropdown_dr .dropdown .btn{
    text-align: left;
    border: 1px solid #ccc
}
.dropdown_dr .dropdown .dropdown-item{
    text-align: left;
    border: none;
    padding: 5px;
    border-bottom: 1px solid #ffcc00;
}
.dropdown_dr .dropdown-menu .dropdown {
    border: 1px solid transparent;
    height: 38px;
    text-align: left;
    border-bottom: 1px solid #ffcc00;
}
.dropdown_dr .dropdown-menu{
    padding: 5px
}
#scrol_price {
    margin-top: 10px;
    height: 350px;
    overflow: auto;
}
::-webkit-scrollbar-thumb {
    background: red;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.red{
    color: #dc3544;
}
.green{
    color: #28a746
}
.tab {
    overflow: hidden;
    background: #fff;
    margin-bottom: -1px;
}
.tab button {
    background-color: inherit;
    float: left;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    color: #19170f;
    border-bottom: 1px solid #ccc;
    padding: 8px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.tab button:hover {
}
.tab button.active {
    border-top: 2px solid #ffcc00;
    border-bottom: 1px solid transparent;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.tabcontent {
    display: none;
}
.border_bar {
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    padding: 25px;
    -webkit-box-shadow: 0px 15px 30px -6px rgba(117, 116, 117, 1);
    -moz-box-shadow: 0px 15px 17px -6px rgba(117, 116, 117, 1);
    box-shadow: 0px 16px 30px -12px rgb(193 193 193);
}
.name_button {
    background: rgb(128, 128, 128);
    color: #fff;
    padding: 2px 4px;
    border: none;
    font-size: 12px;
    border-radius: 4px;
}
.tabcontent ul li{
    float: left;
    width: 49%
}
.logo_mob{
    display: none;
}
.mob_p-4{
    padding: 1.5rem
}
.left-side ul li {
    float: unset;
}
.left-side ul li{
    border-left: 5px solid transparent;
}
.left-side ul li>a:hover{
    color: #ffcc00;
    transition: .5s ease-in-out;
}
.left-side ul li>a {
    color: #19170f;
    border-radius: 0;
    border: 1px solid transparent;
    padding: 7px 15px;
    display: block;
}
.active_li{
    border-left: 5px solid #ffcc00 !important;
}
.active_li a{
    color: #ffcc00!important
}
.filterDiv {
    float: left;
    border-bottom: 1px solid #ffcc00;
    padding: 8px;
    width: 99%;
    text-align: center;
    display: none;
}
.filterDiv_ul {
    float: left;
    border-bottom: 1px solid #ffcc00;
    width: 99%;
    text-align: center;
}
.filterDiv:hover{
    background: #fff2bf
}
.filterDiv ul li{
    float: left;
    width: 33.3%
}
.filterDiv_ul ul li{
    background: #ffcc00;
    text-align: center;
    width: 33.3%;
    float: left;
    border-bottom: 1px solid #ffcc00;
    padding: 8px;
    font-family: Montserrat-Bold
}
.h4_height{
    height: 20px;
}
.courier input{
    height: unset;
}
.tab button img{
    margin-right: 10px
}
.tab button.active .fas{
    color: #ffcc00
}
.tab button .fas{
    padding-right: 10px
}
.active_span{
    color: #ffcc00
}
.brit_moon{
    padding: 0 !important
}
.brit_year{
    padding-right: 0 !important
}
.brit_day{
    padding-left: 0 !important
}
.courier_dr .fa-chevron-down{
    font-size: 11px
}
input:read-only {
    background-color: #fff2bf;
}
.million {
    background: #fff2bf;
    width: 250px;
    padding: 3px;
    border: 1px solid #ffcc00;
    border-radius: 4px;
    height: 42px;
    margin-bottom: 15px
}
.million_num {
    float: left;
    background: white;
    padding: 7px 10px;
    margin-right: 10px;
}
.million_nn {
    padding: 7px 10px;
}
.payment_button {
    border-radius: 4px;
    border: 3px solid #ffcc00;
    font-family: Montserrat-Bold;
    color: #19170f;
    float: right;
}
.payment{
    margin: 40px 0;
}
.visa-logo img{
    width: 100px;
    float: right;
}

.visa-logo {
    margin: 20px 0
}

.payment input {
    width: 35%;
    margin-bottom: 10px
}

.balance_azn, .balance_azn img {
    height: 246px;
}

.order_button {
    background: #ffeca1;
    border: 2px solid #ffcc00;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-left: 10px;
    height: 45px;
    color: #19170f;
    font-family: 'Montserrat-Bold';
}

.invoice_button {
    background: #ffcc00;
    border: 2px solid #ffeca1;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 4px;
    height: 45px;
    color: #19170f;
    font-family: 'Montserrat-Bold';
}

.courier_textare {
    width: 100%;
    padding: 10px;
    height: 130px;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .15);
    margin-top: 25px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0px 1px 6px rgb(204 204 207);
}

.courier_file {
    border: 1px solid rgba(0, 0, 0, .15);
    margin-top: 25px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0px 1px 6px rgb(204 204 207);
    outline: none !important;
    height: 45px
}

.courier_button {
    background: #ffeca1;
    border: 2px solid #ffcc00;
    padding: 5px;
    height: 45px;
    width: 140px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 25px;
    color: #19170f;
    font-family: 'Montserrat-Bold';
}

.courier_trash {
    background: #ffeca1;
    border: 2px solid #ffcc00;
    padding: 5px;
    height: 45px;
    width: 140px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 25px;
    color: #19170f;
    font-family: 'Montserrat-Bold';
}

.danger input {
    float: left;
    width: 7%;
}

.danger label {
    float: right;
    width: 90%;
    margin-top: 12px;
}

.description {
    color: #aaa;
    font-size: 11px;
    font-weight: 400;
}

.exp {
    font-weight: 700
}

@media only screen and (min-width: 768px) {
    .panel-page .balance-block .balance, .panel-page .balance-block .balance img {
        height: 100%;
    }

    .relative .right-side {
        float: right;
    }
}

@media only screen and (min-width: 991px){
    .balance-block {
        position: absolute;
        height: 100%;
        left: 0px;
    }
}
