<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kargo.az</title>
	<link rel="icon" href="../image/favicon/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/faq.css">
    <link rel="stylesheet" href="../css/blog.css">
    <link rel="stylesheet" href="../css/pricing.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/fontawesome-free-5.15.1-web/css/all.css">
</head>
<body>

	<div class="title pt-4 mb-5">
		<div class="container">
			<div class="row">
            	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-12">
            		<div class="font_grey">
            			contact us :    +998 50 988 11 25
            		</div>
           		</div>
            	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-12">
            		<div class="menu_first">
	            		<ul>
	            			<li>
	            				<a href="#"><i class="fab fa-facebook-f"></i></a>
	            			</li>
	            			<li>
	            				<a href="#"><i class="fab fa-google-plus-g"></i></a>
	            			</li>
	            			<li>
	            				<a href="#"><i class="fab fa-instagram"></i></a>
	            			</li>
	            			<li>
	            				<a href="#"><i class="fab fa-linkedin-in"></i></a>
	            			</li>
	            			<li>
	            				<a href="#"><i class="fab fa-pinterest-p"></i></a>
	            			</li>
	            		</ul>
            		</div>
           		</div>
			</div>
           	<hr style="margin-top: 15px;">
           	<div class="row pt-3 pb-3 mob_dis " style="padding: 0 15px;">
           		<div class="logo">
           			<a href="#"><img src="../image/logo.svg"></a>
           		</div>

            	<div class="menu_sec">
            		<ul>
            			<li>
            				<a href="#" class="active">Home</a>
            			</li>
            			<li>
            				<a href="#">Pricing</a>
            			</li>
            			<li>
            				<a href="#">How we work</a>
            			</li>
            			<li>
            				<a href="#">FAQ</a>
            			</li>
            			<li>
            				<a href="#">Blog</a>
            			</li>
            			<li>
            				<a href="#">Contact</a>
            			</li>
            			<li>
            				<div class="dropdown">
							  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown_panel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    Sekine Beylerova<i class="fas fa-chevron-down ml-2" style="font-size: 12px"></i>
							  </button>
							  <div class="dropdown-menu" aria-labelledby="dropdown_panel">
							    <a class="dropdown-item" href="#">Panel səhifəsi</a><br/>
							    <a class="dropdown-item" href="#">Xaricdəki ünvanlarım</a><br/>
							    <a class="dropdown-item" href="#">Sifarişlərim</a><br/>
							    <a class="dropdown-item" href="#">Bağlamalarım</a><br/>
							    <a class="dropdown-item" href="#">AZN Balansım</a><br/>
							    <a class="dropdown-item" href="#">TL Balansım</a><br/>
							    <a class="dropdown-item" href="#">Kuryer</a><br/>
							    <a class="dropdown-item" href="#">Sorğu</a><br/>
							    <a class="dropdown-item" href="#">Tənzimləmələr</a><br/>
							    <a class="dropdown-item" href="#">Hesabdan çıx</a><br/>
							  </div>
							</div>
            			</li>
            		</ul>
            	</div>
           	</div>
		</div>
	</div>
	<div class="mobil_menu">
	    <div id="mySidepanel" class="sidepanel">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
			<a href="#" class="active">Home</a>
			<a href="#">Pricing</a>
			<a href="#">How we work</a>
			<a href="#">FAQ</a>
			<a href="#">Blog</a>
			<a href="#">Contact</a>
		</div>
		
		<div class="logo_mob"> 
				<button class="openbtn" onclick="openNav()"><i class="fas fa-align-justify m-0"></i> </button>
				<a href="#"><img src="../image/logo.svg"></a>
			
			<span class="dropdown float-right">
			  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown_panel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    SB<i class="fas fa-chevron-down ml-2" style="font-size: 12px"></i>
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdown_panel">
			    <a class="dropdown-item" href="#">Panel səhifəsi</a><br/>
			    <a class="dropdown-item" href="#">Xaricdəki ünvanlarım</a><br/>
			    <a class="dropdown-item" href="#">Sifarişlərim</a><br/>
			    <a class="dropdown-item" href="#">Bağlamalarım</a><br/>
			    <a class="dropdown-item" href="#">AZN Balansım</a><br/>
			    <a class="dropdown-item" href="#">TL Balansım</a><br/>
			    <a class="dropdown-item" href="#">Kuryer</a><br/>
			    <a class="dropdown-item" href="#">Sorğu</a><br/>
			    <a class="dropdown-item" href="#">Tənzimləmələr</a><br/>
			    <a class="dropdown-item" href="#">Hesabdan çıx</a><br/>
			  </div>
			</span>	
		</div>	
	</div>

	<div class="site_center">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-2 col-xs-3">
					<div class="h4_height">
						<h4 class="use_dis_no">İSTİFADƏÇİ <strong>PANELİ</strong></h4>
					</div>
					
					<div class="left-side mt-5">
						<ul>
						  <li>
						    <a href="#"><i class="fas fa-th-large"></i><span class="use_dis_no">Panel səhifəsi</span></a>
						  </li>
						  <li>
						    <a href="#"><i class="fas fa-search-location"></i><span class="use_dis_no">Xaricdəki ünvanlarım</span></a>
						  </li>
						  <li>
						    <a href="#"><i class="fas fa-shopping-basket"></i><span class="use_dis_no">Sifarişlərim</span></a>
						  </li>
						  <li>
						    <a href="#"><i class="fas fa-hand-holding-heart"></i><span class="use_dis_no">Bağlamalarım</span></a>
						  </li>
						  <li>
						    <a href="#"><i class="fas fa-donate"></i><span class="use_dis_no">AZN Balansım</span></a>
						  </li>
						  <li>
						    <a href="#"><i class="fas fa-donate"></i><span class="use_dis_no">TL Balansım</span></a>
						  </li>
						  <li>
						    <a href="#"><i class="fas fa-hand-holding-heart"></i><span class="use_dis_no">Kuryer</span></a>
						  </li>
						  <li>
						    <a href="#"><i class="far fa-question-circle" style="font-size: 16px;"></i><span class="use_dis_no">Sorğu</span></a>
						  </li>
						  <li class="active_li">
						    <a href="#"><i class="fas fa-cogs"></i><span class="use_dis_no">Tənzimləmələr</span></a>
						  </li>
						  <li>
						    <a href="#"><i class="fas fa-power-off"></i><span class="use_dis_no">Hesabdan çıx</span></a>
						  </li>
						</ul>
						
					</div>
					<div class="rate_calculator mt-5">
						<div class="title_list mb-4">Məzənnə kalkulyatoru</div>
						<form>
							<div class="float-left"><input type="number" name="calculator"></div>
							<div class="dropdown" style="float: right;">
							  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown_bance1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    AZN<i class="fas fa-chevron-down ml-2"></i>
							  </button>
							  <div class="dropdown-menu" aria-labelledby="dropdown_bance1">
							    <a class="dropdown-item active" href="#">AZN</a><br/>
							    <a class="dropdown-item" href="#">TL</a><br/>
							    <a class="dropdown-item" href="#">USE</a><br/>
							  </div>
						</div>
						</form>
						<div style="clear: both;"></div>
						<div class="mt-4"></div>
						<form>
							<div class="float-left"><input type="number" name="calculator"></div>
							<div class="dropdown" style="float: right;">
							  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown_bance2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    USE<i class="fas fa-chevron-down ml-2"></i>
							  </button>
							  <div class="dropdown-menu" aria-labelledby="dropdown_bance2">
							    <a class="dropdown-item" href="#">AZN</a><br/>
							    <a class="dropdown-item" href="#">TL</a><br/>
							    <a class="dropdown-item active" href="#">USE</a><br/>
							  </div>
						</div>
						</form>
						<div style="clear: both;"></div>
						<div class="font_grey mt-4">Günün məzənnəsinə uyğun hesablanır.</div>
					</div>
					<div class="daily_unit mt-5">
						<div class="title_list mb-4">Günlük məzənnə</div>
						<ul>
							<li>
								<img src="../image/flg-tr.png" alt="flt-tr">
								<span>1</span>
								<span>TL</span>
							</li>
							<li>
								<img src="../image/flg-az.png" alt="flt-az">
								<span>0.2177</span>
								<span>AZN</span>
							</li>
							<li>
								<img src="../image/flg-usa.png" alt="flt-usa">
								<span>0.1281</span>
								<span>USD</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-9 col-sm-10 col-xs-9">
					<div class="h4_height">
						<h5 class="use_dis_no">MÜŞTƏRİ KODU:  <strong>0044410</strong></h5>
					</div>
					<div class="mt-5">
				  		<div class="row">
					  		<div class="col-md-12">
						  		<div class="tab">
								  	<button class="tablinks active " onclick="openCity(event, 'profil_text')">
								  		<i class="fas fa-user-shield mr-0"></i> <span class="use_dis_no">Profil məlumatları</span>
								  	</button>
								  	<button class="tablinks" onclick="openCity(event, 'parol')">
								  		<i class="fas fa-user-lock mr-0"></i><span class="use_dis_no">Şifrə</span>
								  	</button>
								  	<button class="tablinks" onclick="openCity(event, 'cv_text')">
								  		<i class="fas fa-address-card mr-0"></i><span class="use_dis_no">Ş/V məlumatları</span>
								  	</button>
								</div>
								<div class="border_bar">
									<div id="profil_text" class="tabcontent active">
										<div class="row">
											<div class="col-md-6 col-sm-6 mb-4">
												<h5><strong>Ad</strong></h5>
												<input type="text" name="Ad" placeholder="Ad *" value="Sekine" class="w-100 courier_input" readonly="readonly">
											</div>
											<div class="col-md-6 col-sm-6 mb-4">
												<h5><strong>Soyad</strong></h5>
												<input type="text" name="Soyad" placeholder="Soyad *" value="Beylerova" class="w-100 courier_input" readonly="readonly">
											</div>
											<div class="col-md-5 col-sm-5 mb-4">
												<h5><strong>Çatdırılma ofisi *</strong></h5>
												<div class="courier_dr">
										            <div class="dropdown">
													    <div class="dropdown-toggle" id="dropdown_baglama" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													     Bağlamanı seçin<i class="fas fa-chevron-down ml-2"></i>
													     </div>
														<div class="dropdown-menu w-100 p-4" aria-labelledby="dropdown_baglama">
														    <div class="dropdown-item active_span">Bakı</div>
														    <div class="dropdown-item">Gəncə</div>
														    <div class="dropdown-item">Sumqayıt</div>
														    <div class="dropdown-item">Zaqatala</div>
														</div>
												    </div>
										        </div>
											</div>
											<div class="col-md-7 col-sm-7">
												<h5><strong>Doğum tarixi</strong></h5>
												<div class="col-md-4 col-xs-3 mb-4 courier_dr brit_day">
										            <div class="dropdown">
 													    <div class="dropdown-toggle" id="brit_day" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													     4<i class="fas fa-chevron-down ml-2"></i>
													     </div>
														<div class="dropdown-menu w-100 p-4" aria-labelledby="brit_day">
														    <div class="dropdown-item active_span">1</div>
														    <div class="dropdown-item">2</div>
														    <div class="dropdown-item">3</div>
														    <div class="dropdown-item">4</div>
														    <div class="dropdown-item">5</div>
														    <div class="dropdown-item">6</div>
														    <div class="dropdown-item">7</div>
														    <div class="dropdown-item">8</div>
														    <div class="dropdown-item">9</div>
														    <div class="dropdown-item">10</div>
														    <div class="dropdown-item">11</div>
														    <div class="dropdown-item">12</div>
														    <div class="dropdown-item">13</div>
														    <div class="dropdown-item">14</div>
														    <div class="dropdown-item">15</div>
														    <div class="dropdown-item">16</div>
														    <div class="dropdown-item">17</div>
														    <div class="dropdown-item">18</div>
														    <div class="dropdown-item">19</div>
														    <div class="dropdown-item">20</div>
														    <div class="dropdown-item">21</div>
														    <div class="dropdown-item">22</div>
														    <div class="dropdown-item">23</div>
														    <div class="dropdown-item">24</div>
														    <div class="dropdown-item">25</div>
														    <div class="dropdown-item">26</div>
														    <div class="dropdown-item">27</div>
														    <div class="dropdown-item">28</div>
														    <div class="dropdown-item">29</div>
														    <div class="dropdown-item">30</div>
														    <div class="dropdown-item">31</div>
														</div>
												    </div>
										        </div>
												<div class="col-md-4 col-xs-3 mb-4 courier_dr brit_moon">
										            <div class="dropdown">
 													    <div class="dropdown-toggle" id="brit_moon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													     08<i class="fas fa-chevron-down ml-2"></i>
													     </div>
														<div class="dropdown-menu w-100 p-4" aria-labelledby="brit_moon">
														    <div class="dropdown-item">01</div>
														    <div class="dropdown-item">02</div>
														    <div class="dropdown-item">03</div>
														    <div class="dropdown-item">04</div>
														    <div class="dropdown-item">05</div>
														    <div class="dropdown-item">06</div>
														    <div class="dropdown-item">07</div>
														    <div class="dropdown-item active_span">08</div>
														    <div class="dropdown-item">09</div>
														    <div class="dropdown-item">10</div>
														    <div class="dropdown-item">11</div>
														    <div class="dropdown-item">12</div>
														</div>
												    </div>
										        </div>
												<div class="col-md-4 col-xs-6 mb-4 courier_dr brit_year">
										            <div class="dropdown">
 													    <div class="dropdown-toggle" id="brit_year" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													     1995<i class="fas fa-chevron-down ml-2"></i>
													     </div>
														<div class="dropdown-menu w-100 p-4" aria-labelledby="brit_year">
														    <div class="dropdown-item">2002</div>
														    <div class="dropdown-item">2001</div>
														    <div class="dropdown-item">2000</div>
														    <div class="dropdown-item">1999</div>
														    <div class="dropdown-item">1998</div>
														    <div class="dropdown-item">1997</div>
														    <div class="dropdown-item">1996</div>
														    <div class="dropdown-item active_span">1995</div>
														    <div class="dropdown-item">1994</div>
														    <div class="dropdown-item">1993</div>
														    <div class="dropdown-item">1992</div>
														    <div class="dropdown-item">1991</div>
														    <div class="dropdown-item">1990</div>
														    <div class="dropdown-item">1989</div>
														    <div class="dropdown-item">1988</div>
														    <div class="dropdown-item">1987</div>
														    <div class="dropdown-item">1986</div>
														    <div class="dropdown-item">1985</div>
														    <div class="dropdown-item">1984</div>
														    <div class="dropdown-item">1983</div>
														    <div class="dropdown-item">1982</div>
														    <div class="dropdown-item">1981</div>
														    <div class="dropdown-item">1980</div>
														    <div class="dropdown-item">1979</div>
														    <div class="dropdown-item">1978</div>
														    <div class="dropdown-item">1977</div>
														    <div class="dropdown-item">1976</div>
														    <div class="dropdown-item">1975</div>
														    <div class="dropdown-item">1974</div>
														    <div class="dropdown-item">1973</div>
														    <div class="dropdown-item">1972</div>
														    <div class="dropdown-item">1971</div>
														    <div class="dropdown-item">1970</div>
														    <div class="dropdown-item">1969</div>
														    <div class="dropdown-item">1968</div>
														    <div class="dropdown-item">1967</div>
														    <div class="dropdown-item">1966</div>
														    <div class="dropdown-item">1965</div>
														    <div class="dropdown-item">1964</div>
														    <div class="dropdown-item">1963</div>
														    <div class="dropdown-item">1962</div>
														    <div class="dropdown-item">1961</div>
														    <div class="dropdown-item">1960</div>
														    <div class="dropdown-item">1959</div>
														    <div class="dropdown-item">1958</div>
														    <div class="dropdown-item">1957</div>
														    <div class="dropdown-item">1956</div>
														    <div class="dropdown-item">1955</div>
														    <div class="dropdown-item">1954</div>
														    <div class="dropdown-item">1953</div>
														    <div class="dropdown-item">1952</div>
														    <div class="dropdown-item">1951</div>
														    <div class="dropdown-item">1950</div>
														    <div class="dropdown-item">1949</div>
														    <div class="dropdown-item">1948</div>
														    <div class="dropdown-item">1947</div>
														    <div class="dropdown-item">1946</div>
														    <div class="dropdown-item">1945</div>
														    <div class="dropdown-item">1944</div>
														    <div class="dropdown-item">1943</div>
														    <div class="dropdown-item">1942</div>
														    <div class="dropdown-item">1941</div>
														    <div class="dropdown-item">1940</div>
														</div>
												    </div>
										        </div>
											</div>
											<div class="col-md-6 col-sm-6 mb-4">
												<h5><strong>E-mail *</strong></h5>
												<input type="text" name="Ad" placeholder="b.sekine@gmai.com" class="w-100 courier_input" readonly="readonly">
											</div>
											<div class="col-md-6 col-sm-6 mb-4">
												<h5><strong>Telefon *</strong></h5>
												<input type="text" name="Soyad" placeholder="" class="w-100 courier_input" required="" value="+994 55 567 12 34">
											</div>
											<div class="col-md-12 button-part mt-4">
									  			<button type="submit" class="btn-effect">Yadda saxla</button>
									  		</div>
										</div>
									</div>
									<div id="parol" class="tabcontent">
										<div class="row">
											<div class="col-md-12 col-sm-12 mb-4 p-0">
												<div class="col-md-6 col-sm-6 mb-4">
													<h5><strong>Cari şifrə</strong></h5>
													<input type="text" name="cari_parol" class="w-100 courier_input" required="">
												</div>
											</div>
											<div class="col-md-12 col-sm-12 mb-4 p-0">
												<div class="col-md-6 col-sm-6 mb-4">
													<h5><strong>Yeni şifrə təyin et</strong></h5>
													<input type="text" name="parol" placeholder="Şifrə" class="w-100 courier_input" required="">
													<input type="text" name="parol_rep" placeholder="Şifrənin təkrarı" class="w-100 mt-4 courier_input" required="">
												</div>
												<div class="col-md-6 col-sm-6 col-xs-12 mb-4">
													<h5><strong>Yeni şifrə əlavə edərkən diqqət edin!</strong></h5>
													Şifrənizdə simvollardan istifadə edin<br/><br/>
													<i class="far fa-circle mr-3 ml-3" style="font-size: 8px;"></i>
														Şifrənizdə böyük hərf istifadə edin<br/>
													<i class="far fa-circle mr-3 ml-3" style="font-size: 8px;"></i>
														Şifrənizdə rəqəm istifadə edin<br/>
													<i class="far fa-circle mr-3 ml-3" style="font-size: 8px;"></i>
														Şifrənizdə simvollardan istifadə edin<br/>
												</div>												
											</div>
											<div class="col-md-12 button-part mt-5">
									  			<button type="submit" class="btn-effect">Yadda saxla</button>
									  		</div>
										</div>
									</div>
									<div id="cv_text" class="tabcontent">
										<div class="row">
											<div class="col-md-6 col-sm-6 mb-4">
												<h5><strong>Ş/V seriya nömrəsi * </strong></h5>
												<input type="text" name="AA" placeholder="Ş/V seriya nömrəsi" value="AA" class="w-100 courier_input" required="">
											</div>
											<div class="col-md-6 col-sm-6 mb-4">
												<h5><strong>FİN *</strong></h5>
												<input type="text" name="fin" placeholder="FİN *" value="1234567" class="w-100 courier_input" readonly="readonly">
											</div>
											<div class="col-md-7 col-sm-7 mb-4">
												<h5><strong>Vətəndaşlığı *</strong></h5>
												<input type="text" name="citizenship" placeholder="Vətəndaşlığı *" value="Azerbaycan" class="w-100 courier_input" required="">
											</div>
											<div class="col-md-5 col-sm-5 mb-4">
												<h5><strong>Cinsiyyət</strong></h5>
												<div class="courier_dr">
										            <div class="dropdown">
													    <div class="dropdown-toggle" id="human" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													     <i class="fas fa-chevron-down ml-2"></i>Qadın
													     </div>
														<div class="dropdown-menu w-100 p-4" aria-labelledby="human">
														    <div class="dropdown-item active_span">Qadın</div>
														    <div class="dropdown-item">Kişi</div>
														</div>
												    </div>
										        </div>
											</div>
											<div class="col-md-12 col-sm-12 mb-4">
												<h5><strong>Ş/V seriya ünvan *</strong></h5>
												<input type="number" name="citizenship" placeholder="Vətəndaşlığı *" value="23232529" class="w-100 courier_input" required="">
											</div>
											<div class="col-md-12 button-part mt-4">
									  			<button type="submit" class="btn-effect">Yadda saxla</button>
									  		</div>
										</div>
									</div>
								</div>
					  		</div>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer mt-5">
		<div class="container">
			<div class="row">				
            	<div class="col-lg-12">
            		<div class="search text-center">
            			<input type="text" name="" placeholder="Search here...">
            			<button>Search</button>
            		</div>
            	</div>	
            	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	           		<div class="logo">
	           			<img src="../image/logo.svg">
	           			<div class="font_grey mt-5">
	           				Lorem Ipsum is simply dummy text of the <br/>printing and typesetting industry.<br/> 
	           				<div class="mt-3"><a href="#" class="font_b8">Kargoaz@gmail.com</a></div>
	           			</div>
           				<div class="font_black mt-3"> <strong>781-349-6679</strong> </div>
	            		<div class="menu mt-5 ">
		            		<ul class="p-0">
		            			<li>
		            				<a href="#"><i class="fab fa-facebook-f"></i></a>
		            			</li>
		            			<li>
		            				<a href="#"><i class="fab fa-google-plus-g"></i></a>
		            			</li>
		            			<li>
		            				<a href="#"><i class="fab fa-instagram"></i></a>
		            			</li>
		            			<li>
		            				<a href="#"><i class="fab fa-linkedin-in"></i></a>
		            			</li>
		            			<li>
		            				<a href="#"><i class="fab fa-pinterest-p"></i></a>
		            			</li>
		            		</ul>
	            		</div>
	           		</div>
	           	</div>
            	<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            		<div class="title_list">Service</div>
            		<div class="menu_list mt-5">
            			<ul>
            				<li><a href="#">Zwei flinke</a></li>
            				<li><a href="#">Zwei flinke</a></li>
            				<li><a href="#">Zwei flinke</a></li>
            				<li><a href="#">Zwei flinke</a></li>
            				<li><a href="#">Zwei flinke</a></li>
            			</ul>
            		</div>
            	</div>
            	<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            		<div class="title_list">About us</div>
            		<div class="menu_list mt-5">
            			<ul>
            				<li><a href="#">Zwei flinke</a></li>
            				<li><a href="#">Zwei flinke</a></li>
            				<li><a href="#">Zwei flinke</a></li>
            				<li><a href="#">Zwei flinke</a></li>
            				<li><a href="#">Zwei flinke</a></li>
            			</ul>
            		</div>
            	</div>
            	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            		<div class="title_list">Our address</div>
	       			<div class="font_grey mt-5">
	       				Lorem Ipsum is simply dummy text of the <br/>printing and typesetting industry.<br/>
	       			</div>
	       			<div class="map mt-5"></div>
            	</div>
			</div>
		</div>
	</div>

	<div class="footer_yellow text-center">
		<div class="title_list">All rights reserved to kargo.az international INC.</div>
	</div>

<script src="../js/style_js.js"></script>
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/bootstrap-select.min.js"></script>
<script src="../js/clipboard.min.js"></script>

<script>
	function showStuff(id, text, btn) {
	    document.getElementById(id).style.display = 'block';
	    document.getElementById(text).style.display = 'none';
	    btn.style.display = 'none';
	}
</script>

</body>
</html>