<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kargo.az</title>
	<link rel="icon" href="../image/favicon/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/fontawesome-free-5.15.1-web/css/all.css">
</head>
<body>

	<div class="title pt-4 mb-5">
		<div class="container">
			<div class="row">
            	<div class="col-lg-6 col-md-6 col-sm-6">
            		<div class="font_grey">
            			contact us :    +998 50 988 11 25
            		</div>
           		</div>
            	<div class="col-lg-6 col-md-6 col-sm-6 ">
            		<div class="menu_first">
	            		<ul>
	            			<li>
	            				<a href="#"><i class="fab fa-facebook-f"></i></a>
	            			</li>
	            			<li>
	            				<a href="#"><i class="fab fa-google-plus-g"></i></a>
	            			</li>
	            			<li>
	            				<a href="#"><i class="fab fa-instagram"></i></a>
	            			</li>
	            			<li>
	            				<a href="#"><i class="fab fa-linkedin-in"></i></a>
	            			</li>
	            			<li>
	            				<a href="#"><i class="fab fa-pinterest-p"></i></a>
	            			</li>
	            		</ul>
            		</div>
           		</div>
			</div>
           	<hr style="margin-top: 15px;">
           	<div class="row pt-3 pb-3" style="padding: 0 15px;">
           		<div class="logo">
           			<img src="../image/logo.svg">
           		</div>
            	<div class="menu_sec">
            		<ul>
            			<li>
            				<a href="#" class="active">Home</a>
            			</li>
            			<li>
            				<a href="#">Pricing</a>
            			</li>
            			<li>
            				<a href="#">How we work</a>
            			</li>
            			<li>
            				<a href="#">FAQ</a>
            			</li>
            			<li>
            				<a href="#">Blog</a>
            			</li>
            			<li>
            				<a href="#">Contact</a>
            			</li>
            			<li>
            				<div class="dropdown">
							  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown_panel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    Sekine Beylerova<i class="fas fa-chevron-down ml-2" style="font-size: 12px"></i>
							  </button>
							  <div class="dropdown-menu" aria-labelledby="dropdown_panel">
							    <a class="dropdown-item" href="#">Panel səhifəsi</a><br/>
							    <a class="dropdown-item" href="#">Xaricdəki ünvanlarım</a><br/>
							    <a class="dropdown-item" href="#">Sifarişlərim</a><br/>
							    <a class="dropdown-item" href="#">Bağlamalarım</a><br/>
							    <a class="dropdown-item" href="#">AZN Balansım</a><br/>
							    <a class="dropdown-item" href="#">TL Balansım</a><br/>
							    <a class="dropdown-item" href="#">Kuryer</a><br/>
							    <a class="dropdown-item" href="#">Sorğu</a><br/>
							    <a class="dropdown-item" href="#">Tənzimləmələr</a><br/>
							    <a class="dropdown-item" href="#">Hesabdan çıx</a><br/>
							  </div>
							</div>
            			</li>
            		</ul>
            	</div>
           	</div>
		</div>
	</div>

	<div class="site_center">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-1 col-xs-1">
					<h4>İSTİFADƏÇİ <strong>PANELİ</strong></h4>
					<div class="left-side mt-5">
						<ul class="nav nav-tabs" id="myTab" role="tablist">
						  <li class="nav-item">
						    <a class="nav-link active" id="panel_page-tab" data-toggle="tab" href="#panel_page" role="tab" aria-controls="panel_page" aria-selected="true"><span class="dtc v-top tl w2"><span class="fa-fw select-all fas"></span></span>Panel səhifəsi</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" id="address_abroad-tab" data-toggle="tab" href="#address_abroad" role="tab" aria-controls="address_abroad" aria-selected="false"><span class="dtc v-top tl w2"><span class="fa-fw select-all fas"></span></span>Xaricdəki ünvanlarım</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" id="my_orders-tab" data-toggle="tab" href="#my_orders" role="tab" aria-controls="my_orders" aria-selected="false"><span class="dtc v-top tl w2"><span class="fa-fw select-all fas"></span></span>Sifarişlərim</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" id="my_binding-tab" data-toggle="tab" href="#my_binding" role="tab" aria-controls="my_binding" aria-selected="false"><span class="dtc v-top tl w2"><span class="fa-fw select-all fas"></span></span>Bağlamalarım</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" id="azn_balance-tab" data-toggle="tab" href="#azn_balance" role="tab" aria-controls="azn_balance" aria-selected="false"><span class="dtc v-top tl w2"><span class="fa-fw select-all fas"></span></span>AZN Balansım</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" id="tl_balance-tab" data-toggle="tab" href="#tl_balance" role="tab" aria-controls="tl_balance" aria-selected="false"><span class="dtc v-top tl w2"><span class="fa-fw select-all fas"></span></span>TL Balansım</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" id="courier-tab" data-toggle="tab" href="#courier" role="tab" aria-controls="courier" aria-selected="false"><span class="dtc v-top tl w2"><span class="fa-fw select-all fas"></span></span>Kuryer</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" id="inquiry-tab" data-toggle="tab" href="#inquiry" role="tab" aria-controls="inquiry" aria-selected="false"><span class="dtc v-top tl w2"><span class="fa-fw select-all fas"></span></span>Sorğu</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" id="adjustments-tab" data-toggle="tab" href="#adjustments" role="tab" aria-controls="adjustments" aria-selected="false"><span class="dtc v-top tl w2"><span class="fa-fw select-all fas"></span></span>Tənzimləmələr</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" id="sign_out-tab" data-toggle="tab" href="#sign_out" role="tab" aria-controls="sign_out" aria-selected="false"><span class="dtc v-top tl w2"><span class="fa-fw select-all fas"></span></span>Hesabdan çıx</a>
						  </li>
						</ul>
						
					</div>
					<div class="rate_calculator mt-5">
						<div class="title_list mb-4">Məzənnə kalkulyatoru</div>
						<form>
							<div class="float-left"><input type="number" name="calculator"></div>
							<div class="dropdown" style="float: right;">
							  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown_bance1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    AZN<i class="fas fa-chevron-down ml-2" style="font-size: 11px"></i>
							  </button>
							  <div class="dropdown-menu" aria-labelledby="dropdown_bance1">
							    <a class="dropdown-item active" href="#">AZN</a><br/>
							    <a class="dropdown-item" href="#">TL</a><br/>
							    <a class="dropdown-item" href="#">USE</a><br/>
							  </div>
						</div>
						</form>
						<div style="clear: both;"></div>
						<div class="mt-4"></div>
						<form>
							<div class="float-left"><input type="number" name="calculator"></div>
							<div class="dropdown" style="float: right;">
							  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown_bance2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    USE<i class="fas fa-chevron-down ml-2" style="font-size: 11px"></i>
							  </button>
							  <div class="dropdown-menu" aria-labelledby="dropdown_bance2">
							    <a class="dropdown-item" href="#">AZN</a><br/>
							    <a class="dropdown-item" href="#">TL</a><br/>
							    <a class="dropdown-item active" href="#">USE</a><br/>
							  </div>
						</div>
						</form>
						<div style="clear: both;"></div>
						<div class="font_grey mt-4">Günün məzənnəsinə uyğun hesablanır.</div>
					</div>
					<div class="daily_unit mt-5">
						<div class="title_list mb-4">Günlük məzənnə</div>
						<ul>
							<li>
								<img src="../image/flg-tr.png" alt="flt-tr">
								<span>1</span>
								<span>TL</span>
							</li>
							<li>
								<img src="../image/flg-az.png" alt="flt-az">
								<span>0.2177</span>
								<span>AZN</span>
							</li>
							<li>
								<img src="../image/flg-usa.png" alt="flt-usa">
								<span>0.1281</span>
								<span>USD</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-9 col-sm-11 col-xs-11">
					<h5>MÜŞTƏRİ KODU:  <strong>0044410</strong></h5>
					<div class="tab-content mt-5" id="myTabContent">
					  <div class="tab-pane fade active" id="panel_page" role="tabpanel" aria-labelledby="panel_page-tab">
						  	<div class="row relative">
						  		<div class="balance-block col-md-8 col-sm-12 col-xs-12">
							  		<div class="balance">
							  			<picture>
							  				<img src="../image/balans.png" alt="balans" class="img-responsive">
							  			</picture>
							  			<div class="balance-count">
							  				<span>Balansım</span> <br/> 
							  				<span class="count">0.00<sup>₼</sup></span>
	                         			</div>
							  			<div class="balance-date">Son əlavə tarixi</div>
							  			<div class="balance-text"> 
							  				Azərbaycana çatdırılma haqqının ödənilməsi və online kuryer sifarişi üçün balansınızı artıra bilərsiniz. 
							  				<p><b> ARTIRILAN BALANS GERİ QAYTARILMIR.</b></p>
							  			</div>
							  			<a href="#/azn_balance" class=""><a data-v-27fd2a5d="" href="#" class="border-btn btn-effect">Balansı artır</a></a>

							  		</div>
							  	</div>
							  	<div class="col-md-4 col-sm-12 col-xs-12 right-side">
							  		<div class="border_sh">
								  		<div class="tooltip"><span class="fa-fw select-all fas mr-0"></span>
										  <span class="tooltiptext">
										  Bu, Sizin Kargo.az vasitəsilə son 30 gündə ölkəyə gətirdiyiniz bağlamaların məhsul dəyəri və çatdırılma haqqı üçün ödədiyiniz məbləğdir. Qeyd edək ki, qanunvericiliyə görə 30 gün ərzində şəxsi istifadə üçün gətirilmiş poçt yüklərinin dəyəri və bunun üçün ödənmiş çatdırılma haqqı toplam 300 dolları keçdikdə gömrük rüsumu tətbiq edilir.</span>
										</div>
										<div style="clear: both;"></div>
										<td class="post">
											<div class="text-center">
												<a href="#" onclick="showStuff('answer1', 'text1', this); return false;"><img src="../image/wallet1.png" width="150"></a>
											</div>
											<span id="answer1" style="display: none;">
												<h4 class="text-center"><strong>Son 30 gün</strong></h4>
												<div class="timer">
												  <svg class="rotate" viewbox="0 0 250 250">
												    <path id="loader" transform="translate(125, 125)"/>
												  </svg>
												  <div class="dots">
												    <span class="time deg0"></span>
												    <span class="time deg45"></span>
												    <span class="time deg90"></span>
												    <span class="time deg135"></span>
												  </div>
												</div>
												<div class="spin-div relative">
													<span id="procent">0.00</span>
												</div>
												<div style="clear: both;"></div>
												<div class="text-center procent_dolar"><h4><strong>0.00 <sup>$</sup></strong></h4></div>
											</span>
											<span id="text1"></span>
										</td>
							  		</div>
							  	</div>
						  	</div>
						  	<div class="col-md-12 mt-5 border_sh">
						  		<div class="dropdown_dr">
									<div class="dropdown open">
										<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown_hamisi" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
										    Hamısı<i class="fas fa-chevron-down ml-2" style="font-size: 11px"></i>
										</button>
										<div class="dropdown-menu" aria-labelledby="dropdown_hamisi">
										    <a class="dropdown-item active" href="#">Hamısı</a><br>
										    <a class="dropdown-item" href="#">Məxaric</a><br>
										    <a class="dropdown-item" href="#">Mədaxil</a><br>
										</div>
									</div>   
							    </div>
								<div id="scrol_price" class="mt-5">
								    <div id="scrol_price_content">
										<table class="table_price">
										  <tr class="table_yellow">
										    <th>Tarixi</th>
										    <th>Məbləğ</th>
										    <th>Əməliyyat</th>
										  </tr>
										  <tr class="table_hover">
										    <td>22.09.2020 22:28</td>
										    <td class="green">40 ₺</td>
										    <td>Balans artırılması</td>
										  </tr>
										  <tr class="table_hover">
										    <td>22.09.2020 22:41</td>
										    <td class="red">- 33.77 ₺</td>
										    <td>Sifariş Ödənişi</td>
										  </tr>
										  <tr class="table_hover">
										    <td>22.09.2020 15:03</td>
										    <td class="green">50 $</td>
										    <td>Balans artırılması</td>
										  </tr>
										  <tr class="table_hover">
										    <td>03.10.2020 01:47</td>
										    <td class="red">- 35.70 $</td>
										    <td>Sifariş Ödənişi</td>
										  </tr>
										</table>
								    </div>
								</div>
						  	</div>
					  </div>
					  <div class="tab-pane fade" id="address_abroad" role="tabpanel" aria-labelledby="address_abroad-tab">
					  	<div class="row">
					  		<div class="col-md-12">
						  		<div class="tab">
								  	<button class="tablinks active " onclick="openCity(event, 'turkey')"><img src="../image/order-TR.png" class="mr-4"> Türkiyə</button>
								  	<button class="tablinks" onclick="openCity(event, 'amerika')"><img src="../image/order-Us.png" class="mr-4">Amerika</button>
								</div>
								<div class="border_bar">
									<div id="turkey" class="tabcontent active">
										<div class="row">
											<div class="col-md-6">
												<div class="row">
													<div class="col-md-12">
														<h5><strong>Ad, Soyad</strong></h5>
									  					<p>0044410 - LİMAK İTHALAT VE İHRACAT LİMİTED şirketi</p>
									  				</div>
													<div class="col-md-12">
														<h5><strong>Adres başlığı</strong></h5>
											  			<p>LİMAK - 0044410 - Emin Elvinli</p>
											  		</div>
													<div class="col-md-12">
														<h5><strong>Adres satır 1 (Müştəri kodu,ad və soyadınızla birgə tam olaraq kopyalayın)</strong></h5>
									  					<p>0044410 Emin Elvinli, Halkalı, 1.Tuna cd. Üzümlü SK. 5a </p>
													</div>
													<div class="col-md-12">
														<h5><strong>İl-Şehir</strong></h5>
									  					<p>Küçükçekmece</p>
													</div>
													<div class="col-md-12">
														<h5><strong>İlçe</strong></h5>
									  					<p>Istanbul</p>
													</div>
													<div class="col-md-12">
														<h5><strong>Vergi dairesi</strong></h5>
									  					<p>Halkalı</p>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="row">
													<div class="col-md-12">
											  			<h5><strong>Semt</strong></h5>
											  			<p>Halkalı</p>
											  		</div>
													<div class="col-md-12">
														<h5><strong>ZIP/Post kodu</strong></h5>
									  					<p>34303</p>
													</div>
													<div class="col-md-12">
														<h5><strong>Ülke</strong></h5>
									  					<p>Türkiye</p>
													</div>
													<div class="col-md-12">
														<h5><strong>TC kimlik</strong></h5>
									  					<p>35650276048</p>
													</div>
													<div class="col-md-12">
														<h5><strong>Cep telefon</strong></h5>
									  					<p>05364700021</p>
													</div>
													<div class="col-md-12">
														<h5><strong>Vergi numarası</strong></h5>
										  				<p>6081089593</p>	
													</div>
												</div>
											</div>
										</div>
									</div>
									<div id="amerika" class="tabcontent">
										<div class="row">
											<div class="col-md-6">
												<div class="row">
													<div class="col-md-12">
														<h5><strong>Name</strong></h5>
									  					<p>AZ0044410 Emin Elvinli</p>
									  				</div>
													<div class="col-md-12">
														<h5><strong>Address Line</strong></h5>
											  			<p>28 W Ayre Street</p>
											  		</div>
													<div class="col-md-12">
														<h5><strong>Address Line2</strong></h5>
									  					<p>Suite#AZ0044410 </p>
													</div>
													<div class="col-md-12">
														<h5><strong>State</strong></h5>
									  					<p>Delaware (DE)</p>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="row">
													<div class="col-md-12">
											  			<h5><strong>City</strong></h5>
											  			<p>Wilmington</p>
											  		</div>
													<div class="col-md-12">
														<h5><strong>ZIP/Postal code</strong></h5>
									  					<p>19804</p>
													</div>
													<div class="col-md-12">
														<h5><strong>Country</strong></h5>
									  					<p>United States</p>
													</div>
													<div class="col-md-12">
														<h5><strong>Phone Number</strong></h5>
									  					<p>800-4315119</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
					  		</div>
					  	</div>
					  </div>
					  <div class="tab-pane fade" id="my_orders" role="tabpanel" aria-labelledby="my_orders-tab">...Contact Contact Contact Contact </div>
					  <div class="tab-pane fade" id="my_binding" role="tabpanel" aria-labelledby="my_binding-tab">...</div>
					  <div class="tab-pane fade" id="azn_balance" role="tabpanel" aria-labelledby="azn_balance-tab">...</div>
					  <div class="tab-pane fade" id="tl_balance" role="tabpanel" aria-labelledby="tl_balance-tab">...</div>
					  <div class="tab-pane fade border_sh" id="courier" role="tabpanel" aria-labelledby="courier-tab">
					  		<h2 class="mt-0">Kuryer</h2>
						 	<div class="row courier">
						  		<div class="col-md-12"><h3>Ərazi seç</h3></div>
						  		<div class="col-md-7">
						  			<h4>Bakı və Abşeron</h4>
						  			<br> 
									<form action="">
									  <input type="radio" id="baki0" name="baki" value="1">
									  <label for="baki0">Səbail, Yasamal, Nəsimi, Binəqədi, Nərimanov - 3AZN</label><br>
									  <input type="radio" id="baki1" name="baki" value="2">
									  <label for="baki1">Xətai, Nizami, Sabunçu, Suraxanı - 4AZN</label><br>
									  <input type="radio" id="baki2" name="baki" value="3">
									  <label for="baki2">Xırdalan,Masazır,Lökbatan - 5 AZN</label><br>  
									  <input type="radio" id="baki3" name="baki" value="4">
									  <label for="baki3">Bakı ətrafı kənd və qəsəbələr - 5 AZN</label><br>
									</form>
						  		</div>
						  		<div class="col-md-5">
						  			<h4>Bakı və Abşeron</h4>
						  			<br> 
									<form action="">
									  <input type="radio" id="age2" name="age" value="5">
									  <label for="age2">Gəncə (Şəhər daxili) - 2 AZN</label><br>  
									</form>
						  		</div>
						  		<div class="col-md-12 mt-5"></div>
						  		<div class="col-md-4">
						  			<input type="text" name="region" placeholder="Rayon *" class="w-100 courier_input" required>
						  		</div>
						  		<div class="col-md-4">
						  			<input type="text" name="village" placeholder="Qəsəbə " class="w-100 courier_input" >
						  		</div>
						  		<div class="col-md-4">
						  			<input type="street" name="" placeholder="Küçə *" class="w-100 courier_input" required>
						  		</div>
						  		<div class="col-md-12 mt-5"></div>
						  		<div class="col-md-6">
						  			<input type="text" name="home" placeholder="Ev *" class="w-100 courier_input" required>
						  		</div>
						  		<div class="col-md-6">
						  			<input type="number" name="telefon" placeholder="Telefon *" class="w-100 courier_input" required>
						  		</div>
						  		<div class="col-md-12 mt-5">
						  			<div class="font_black"><h5><strong>Kuryer sifariş etmək üçün bağlamanız yoxdur</strong></h5></div>
						  			   <div class="select-wrapper">

      <h3>Autocomplete:</h3>
      <span class="autocomplete-select"></span>
      <button onclick="resetAutocomplete()">Reset</button>

    </div>
						  			<div class="courier_dr">
							            <div class="dropdown">
										  <div class="dropdown-toggle" id="dropdown_baglama" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										     Bağlamanı seçin<i class="fas fa-chevron-down ml-2" style="font-size: 11px"></i>
										  </div>
										  <div class="dropdown-menu w-100 p-4" aria-labelledby="dropdown_baglama">
										    <div class="dropdown-item ">
										    	<label class="container">Hamısı
												  <input type="checkbox">
												  <span class="checkmark"></span>
												</label>
										    </div>
										    <div class="dropdown-item">
										    	<label class="container">44599 sayli bağlama
												  <input type="checkbox">
												  <span class="checkmark"></span>
												</label>
											</div>
										    <div class="dropdown-item">
										    	<label class="container">44580 sayli bağlama
												  <input type="checkbox">
												  <span class="checkmark"></span>
												</label>
										    </div>
										  </div>
									</div>
							            
							        </div>
						  		</div>
						  		<div class="col-md-12 mt-5">
						  			<textarea placeholder="Əlavə qeydlərinizi yazın" row="8" id="comment" class="courier_input w-100 h-100p"></textarea>
						  		</div>
						  		<div class="col-md-12 button-part mt-5">
						  			<button type="submit" class="btn-effect">Təsdiq et</button>
						  		</div>
						  		<div class="col-md-12 button-part mt-5">
						  			<div class="font_black"><h5><strong>Kuryer sifarişiniz 24 saat ərzində təyin olunur.</strong></h5></div>
						  			<div class="font_black"><h5><strong>Kuryerin iş saatları 10:00 - 19:00 (həftənin 6 günü).</strong></h5></div>
						  		</div>
					  		</div>
					  </div>
					  <div class="tab-pane fade" id="inquiry" role="tabpanel" aria-labelledby="inquiry-tab">...</div>
					  <div class="tab-pane fade" id="adjustments" role="tabpanel" aria-labelledby="adjustments-tab">
					  	<div class="row">
					  		<div class="col-md-12">
						  		<div class="tab">
								  	<button class="tablinks active " onclick="openCity(event, 'profil_text')"> Profil məlumatları</button>
								  	<button class="tablinks" onclick="openCity(event, 'parol')">Şifrə</button>
								  	<button class="tablinks" onclick="openCity(event, 'cv_text')">Ş/V məlumatları</button>
								</div>
								<div class="border_bar">
									<div id="profil_text" class="tabcontent active">
										<div class="row">
											<div class="col-md-6"></div>
											<div class="col-md-6"></div>
										</div>
									</div>
									<div id="parol" class="tabcontent">
										<div class="row">
											<div class="col-md-6">
												<div class="row">
													<div class="col-md-12">
														<h5><strong>Name</strong></h5>
									  					<p>AZ0044410 Emin Elvinli</p>
									  				</div>
													<div class="col-md-12">
														<h5><strong>Address Line</strong></h5>
											  			<p>28 W Ayre Street</p>
											  		</div>
													<div class="col-md-12">
														<h5><strong>Address Line2</strong></h5>
									  					<p>Suite#AZ0044410 </p>
													</div>
													<div class="col-md-12">
														<h5><strong>State</strong></h5>
									  					<p>Delaware (DE)</p>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="row">
													<div class="col-md-12">
											  			<h5><strong>City</strong></h5>
											  			<p>Wilmington</p>
											  		</div>
													<div class="col-md-12">
														<h5><strong>ZIP/Postal code</strong></h5>
									  					<p>19804</p>
													</div>
													<div class="col-md-12">
														<h5><strong>Country</strong></h5>
									  					<p>United States</p>
													</div>
													<div class="col-md-12">
														<h5><strong>Phone Number</strong></h5>
									  					<p>800-4315119</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div id="cv_text" class="tabcontent">
										<div class="row">
											<div class="col-md-6">
												<div class="row">
													<div class="col-md-12">
														<h5><strong>Name</strong></h5>
									  					<p>AZ0044410 Emin Elvinli</p>
									  				</div>
													<div class="col-md-12">
														<h5><strong>Address Line</strong></h5>
											  			<p>28 W Ayre Street</p>
											  		</div>
													<div class="col-md-12">
														<h5><strong>Address Line2</strong></h5>
									  					<p>Suite#AZ0044410 </p>
													</div>
													<div class="col-md-12">
														<h5><strong>State</strong></h5>
									  					<p>Delaware (DE)</p>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="row">
													<div class="col-md-12">
											  			<h5><strong>City</strong></h5>
											  			<p>Wilmington</p>
											  		</div>
													<div class="col-md-12">
														<h5><strong>ZIP/Postal code</strong></h5>
									  					<p>19804</p>
													</div>
													<div class="col-md-12">
														<h5><strong>Country</strong></h5>
									  					<p>United States</p>
													</div>
													<div class="col-md-12">
														<h5><strong>Phone Number</strong></h5>
									  					<p>800-4315119</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
					  		</div>
					  	</div>
					  </div>
					  <div class="tab-pane fade" id="sign_out" role="tabpanel" aria-labelledby="sign_out-tab">...</div>
					</div>

				</div>

			</div>
		</div>
	</div>

	<div class="footer mt-5">
		<div class="container">
			<div class="row">				
            	<div class="col-lg-12">
            		<div class="search text-center">
            			<input type="text" name="" placeholder="Search here...">
            			<button>Search</button>
            		</div>
            	</div>	
            	<div class="col-lg-4 col-md-4 col-sm-6">
	           		<div class="logo">
	           			<img src="../image/logo.svg">
	           			<div class="font_grey mt-5">
	           				Lorem Ipsum is simply dummy text of the <br/>printing and typesetting industry.<br/> 
	           				<div class="mt-3"><a href="#" class="font_b8">Kargoaz@gmail.com</a></div>
	           			</div>
           				<div class="font_black mt-3"> <strong>781-349-6679</strong> </div>
	            		<div class="menu mt-5 ">
		            		<ul class="p-0">
		            			<li>
		            				<a href="#"><i class="fab fa-facebook-f"></i></a>
		            			</li>
		            			<li>
		            				<a href="#"><i class="fab fa-google-plus-g"></i></a>
		            			</li>
		            			<li>
		            				<a href="#"><i class="fab fa-instagram"></i></a>
		            			</li>
		            			<li>
		            				<a href="#"><i class="fab fa-linkedin-in"></i></a>
		            			</li>
		            			<li>
		            				<a href="#"><i class="fab fa-pinterest-p"></i></a>
		            			</li>
		            		</ul>
	            		</div>
	           		</div>
	           	</div>
            	<div class="col-lg-2 col-md-2 col-sm-6">
            		<div class="title_list">Service</div>
            		<div class="menu_list mt-5">
            			<ul>
            				<li><a href="#">Zwei flinke</a></li>
            				<li><a href="#">Zwei flinke</a></li>
            				<li><a href="#">Zwei flinke</a></li>
            				<li><a href="#">Zwei flinke</a></li>
            				<li><a href="#">Zwei flinke</a></li>
            			</ul>
            		</div>
            	</div>
            	<div class="col-lg-2 col-md-2 col-sm-6">
            		<div class="title_list">About us</div>
            		<div class="menu_list mt-5">
            			<ul>
            				<li><a href="#">Zwei flinke</a></li>
            				<li><a href="#">Zwei flinke</a></li>
            				<li><a href="#">Zwei flinke</a></li>
            				<li><a href="#">Zwei flinke</a></li>
            				<li><a href="#">Zwei flinke</a></li>
            			</ul>
            		</div>
            	</div>
            	<div class="col-lg-4 col-md-4 col-sm-6">
            		<div class="title_list">Our address</div>
	       			<div class="font_grey mt-5">
	       				Lorem Ipsum is simply dummy text of the <br/>printing and typesetting industry.<br/>
	       			</div>
	       			<div class="map mt-5"></div>
            	</div>
			</div>
		</div>
	</div>

	<div class="footer_yellow text-center">
		<div class="title_list">All rights reserved to kargo.az international INC.</div>
	</div>

<script src="../js/style_js.js"></script>
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/bootstrap-select.min.js"></script>
<script src="../js/clipboard.min.js"></script>
<script src="../js/bundle.min.js"></script>

<script>
	function showStuff(id, text, btn) {
	    document.getElementById(id).style.display = 'block';
	    document.getElementById(text).style.display = 'none';
	    btn.style.display = 'none';
	}
</script>
</body>
</html>